<header class="home-header">
<div class="logo-sec">
<div class="container-fluid">
<div class="col-md-5 col-sm-4 col-sx-12"><a class="logo-padd" href="#"><img class="logo" width="220" src="images/logo.png" /></a></div>
<div class="col-md-3 col-sm-4 col-sx-12">
<ul class="navbar-cent">
        <li><a ui-sref="login" data-toggle="modal" data-target="#login-modal-id">Place an AD</a></li>
        <li><a ui-sref="login" data-toggle="modal" data-target="#login-modal-id"> Artist Login</a></li>
</ul>
</div>
<div class="col-md-4 col-sm-4 col-sx-12">
<nav class="navbar navbar-default main-nav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/about-us">About Us</a></li>
        <li><a href="#/contact-us">Contact Us</a></li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
</nav>
</div>
</div>
</div>
</header>
<section class="slider">
<img class="img-responsive" src="images/pages-banners.jpg" />
<h2 class="page-titel">About Us</h2>
</section>

<section class="pages-sec">
<div class="container page-conte">
<div class="col-md-12 col-sm-12">

<div class="col-md-12 col-sm-12 padd0 mat-top-but-20">
<div class="col-sm-4">
<img class="img-responsive" src="images/about-pic-1.png" />
</div>
<div class="col-sm-8">
<div class="col-sm-7">
<blockquote class="about-con">
<img class="img-responsive quat-top" src="images/quat-1.png" />
  <p>Hey, I’m looking for a drummer for Sunday service. Let me know if anyone is interested.</p>
  <img class="img-responsive quat-bott" src="images/quat-2.png" />
</blockquote>
</div>
</div>
</div>
<div class="col-md-12 col-sm-12 padd0 mat-top-but-20">
<div class="col-sm-8">
<div class="col-sm-7 col-md-offset-5">
<blockquote class="about-con">
<img class="img-responsive quat-top" src="images/quat-1.png" />
  <p>We are having a youth revival and I don’t know of many worship teams or dance teams that I could invite to 
     participate. Can anyone help?</p>
  <img class="img-responsive quat-bott" src="images/quat-2.png" />
</blockquote>
</div>
</div>
<div class="col-sm-4">
<img class="img-responsive" src="images/about-pic-2.png" />
</div>
</div>
<div class="col-md-12 col-sm-12 padd0 mat-top-but-20">
<div class="col-sm-4">
<img class="img-responsive" src="images/about-pic-3.png" />
</div>
<div class="col-sm-8">
<div class="col-sm-7">
<blockquote class="about-con">
<img class="img-responsive quat-top" src="images/quat-1.png" />
  <p>I’m having a wedding reception and need a Christian DJ. Do you
know of any?</p>
  <img class="img-responsive quat-bott" src="images/quat-2.png" />
</blockquote>
</div>
</div>
</div>
<div class="col-md-12 col-sm-12 padd0 mat-top-but-20">
<div class="col-sm-8">
<div class="col-sm-7 col-md-offset-5">
<blockquote class="about-con">
<img class="img-responsive quat-top" src="images/quat-1.png" />
  <p>I’m free Sunday if there’s a church looking for an organist.</p>
  <img class="img-responsive quat-bott" src="images/quat-2.png" />
</blockquote>
</div>
</div>
<div class="col-sm-4">
<img class="img-responsive" src="images/about-pic-4.png" />
</div>
</div>

<div class="col-md-12 col-sm-12 mat-top-but-20">
<p class="about-para">These are just a few questions that we’ve stumbled across that always made us think: </p>
<p class="about-para"><span>“Why is there not a better way for connections to be made within the praise and worship community?”</span></p>
<p class="about-para">So, we have created a better way. <span>Judah’s Link</span> exists to create a more convenient way for 
Christian church artists to connect with opportunities to use their gifts and skills through our systems of profile creation and ad placement. We also provide a way for churches, organizations, groups, and 
individuals to place ads, fill positions and meet their ministry and event needs.</p>

<p class="about-para"><span>Our goal</span> is to strengthen ministry. Whether it is an artist finding a position, someone finding an artist; even if it is someone finding equipment needed in worship ministry in our Sell and Shop or an artist </p>

<p class="about-para">learning from another artist in <span>Judah’s community</span>, ministry is strengthened. There are 
Christian church artists that possess many gifts and the Christian community hold many opportunities. We seek to bring the two together through our unique profile linking system with a greater 
goal of molding ministry.</p>


</div>

</div>
</div>
</section>

<div class="foot-gray">
<div class="border-gray"></div>
</div>
<div ng-include="'templates/footer.html'"></div>
<!-- <footer class="footer-sec">
<div class="top-foot">
<div class="container">
<div class="col-md-4 col-sm-4 col-xs-12"><p class="copy-right">2017 © Judah’s Link</p></div>
<div class="col-md-4 col-sm-4 col-xs-12"><p class="socail-media"><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a> <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></p></div>
<div class="col-md-4 col-sm-4 col-xs-12"><p class="copy-terms"><a href="">TERMS OF USE</a> | <a href="">PRIVACY POLICY</a></p></div>
<div class="col-md-12 col-sm-12 col-xs-12"><p class="design">Designed by</p></div>
</div>
</div>
</footer> -->


<!-- Modal -->
<!-- <div class="modal fade sign-modal" id="signup-modal-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
        <img  width="240" class="img-responsive img-cent" src="images/logo-2.png">
        <h2 class="registrat">Registration</h2>
        <div class="col-sm-12 padd0">
          <div class="col-sm-3 padd7">
            <p class="sign-up-lable">Personal Info</p>
            <div class="col-sm-12 padd0">
              <img id="OpenImgUpload" width="90" class="img-responsive" src="images/upload-img.png">
              <input type="file" id="imgupload" style="display:none"/> 
            </div>
            <p class="upload-lable">Upload Photo</p>
            
          </div>
          <div class="col-sm-9 padd7">
            <div class="col-sm-12 padd0">
            <div class="col-sm-4 padd7 marg-5"><input type="text" class="form-control my-input"  placeholder="Name"></div>
            <div class="col-sm-4 padd7 marg-5"><input type="text" class="form-control my-input"  placeholder="City"></div>
            <div class="col-sm-4 padd7 marg-5"><input type="text" class="form-control my-input"  placeholder="State"></div>
            </div>
            <div class="col-sm-12 padd0">
            <div class="col-sm-4 padd7 marg-5"><input type="text" class="form-control my-input"  placeholder="Denomination"></div>
            <div class="col-sm-4 padd7 marg-5"><input type="text" class="form-control my-input"  placeholder="Website"></div>
            <div class="col-sm-4 padd7 marg-5">
              <select class="form-control my-input">
                      <option>Position Interest1</option>
                      <option>Position Interest2</option>
                      <option>Position Interest3</option>
                      <option>Position Interest4</option>
                      <option>Position Interest5</option>
                   </select>
            </div>
            </div>
            <div class="col-sm-12 padd0">
            <div class="col-sm-6 padd7 marg-5"><input type="text" class="form-control my-input"  placeholder="Degree/ Certifications"></div>
            <div class="col-sm-6 padd7 marg-5"><input type="text" class="form-control my-input"  placeholder="Skills"></div>
            </div>
            <div class="col-sm-12 padd0">
            <div class="col-sm-12 padd7 marg-5"><textarea class="form-control my-input" rows="3" placeholder="About"></textarea></div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 padd0">
          <div class="col-sm-3 padd7">
            <p class="sign-up-lable">Featured Video & Photoss</p>
          </div>
          <div class="col-sm-9 padd7">
            <ul class="upload-video">
              <li><img width="150" height="80" src="images/video1.jpg"></li>
              <li><img width="90" height="80" src="images/video2.jpg"></li>
              <li><img width="90" height="80" src="images/video2.jpg"></li>
              <li><img width="90" id="OpenImgUpload2" height="80" src="images/add-btn.png"> <input type="file" id="imgupload2" style="display:none"/> </li>
            </ul>
            <div class="col-sm-12 padd7">
               <div class="checkbox my-check">
                    <label>
                      <input class="check-input" type="checkbox"> Featured Profile Video
                    </label>
                   </div>
              </div>
          </div>
        </div>
        <div class="col-sm-12 padd0">
          <div class="col-sm-3 padd7">
            <p class="sign-up-lable">Credentials</p>
          </div>
          <div class="col-sm-9 padd7">
             <div class="col-sm-12 padd0">
            <div class="col-sm-4 padd7 marg-5"><input type="text" class="form-control my-input"  placeholder="Email"></div>
            <div class="col-sm-4 padd7 marg-5"><input type="password" class="form-control my-input"  placeholder="Password"></div>
            <div class="col-sm-4 padd7 marg-5"><input type="password" class="form-control my-input"  placeholder="Confirm Password"></div>
            </div>
            <div class="col-md-12 padd0">
               <button class="mybtn" type="submit"><span>Sign</span> Up</button>
              </div>

          </div>
        </div>
        
      </div>
      
    </div>
  </div>
</div> -->

<!-- Modal -->
<!-- <div class="modal fade login-modal" id="login-modal-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
        <img  width="240" class="img-responsive img-cent" src="images/logo-2.png">
        <h2 class="registrat">Sign In</h2>
        <div class="col-sm-12">
            <div class="col-sm-12 padd0">
            <div class="col-sm-12 padd7 marg-10"><input type="text" class="form-control my-input"  placeholder="Name"></div>
            <div class="col-sm-12 padd7 marg-10"><input type="password" class="form-control my-input"  placeholder="Password"></div>
            <div class="col-md-12 padd7">
              <p class="forget-pass"><a href="#forget-modal-id" data-toggle="modal" data-dismiss="modal" >Forgot Password?</a></p>
            </div>
              <div class="col-md-12 padd7 marg-10">
                    <button class="mybtn" type="submit"><span>Sign</span> In</button>
               </div>
               <div class="col-md-12 marg-10">
              <p class="sign-up-link">Not registered Yet? <a href="#signup-modal-id" data-toggle="modal" data-dismiss="modal"><span>Sign</span> Up</a></p>
            </div>
          </div>
        </div>
        
        
      </div>
      
    </div>
  </div>
</div> -->

<!-- Modal -->
<!-- <div class="modal fade login-modal" id="forget-modal-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
        <img  width="240" class="img-responsive img-cent" src="images/logo-2.png">
        <h2 class="registrat">Forgot Password?</h2>
        <div class="col-sm-12">
            <div class="col-sm-12 padd0">
            <div class="col-sm-12 padd7 marg-10"><input type="email" class="form-control my-input"  placeholder="Email"></div>
            <div class="col-sm-12 padd7 marg-10"><input type="email" class="form-control my-input"  placeholder="Confirm Email"></div>
            
              <div class="col-md-12 padd7 marg-10">
                    <button class="mybtn" type="submit"><span>Sen</span>d</button>
               </div>
               
          </div>
        </div>
        
        
      </div>
      
    </div>
  </div>
</div>
 -->