<div id="loading">
  <img id="loading-image" src="images/example.gif" alt="Loading..." />
</div>
<section class="dashboard-section">
  <div class="container-fluid dashboard-content">
    <div class="col-ms-12">
      <div ng-include="'templates/sub-header.html'"></div>

      <div class="col-sm-12" ng-init="getChats()">
        <div class="col-sm-2 profile-box">
          <h2 class="mass-head">Messages</h2>
          <p class="mass-commu">Communications</p>

        </div>
        <div class="col-sm-10 padd-left-0">
          <!-- Tab panes -->
          <div class="col-sm-12 padd-0 filter">
            <div class="col-sm-4 padd-0">
              <input class="search-input" type="search" ng-model="test" name="" placeholder="Search messages">
            </div>
            <div class="col-sm-8">

            </div>
          </div>


          <!-- comunication list -->

          <div class="col-sm-10 padd-left-0">
            <div class="col-sm-12 padd-0 scroll-right hight-list mCustomScrollbar" data-mcs-theme="minimal-dark" style="height: 58vh">
              <div class="col-sm-12 near-adds-list padd-0 active">
                <div class="col-sm-3 padd-7">
                  <img class="img-responsive chat-pro-img" src="images/chat-list.png" />
                </div>
                <div class="col-sm-9 padd-7">
                  <div class="col-sm-12 padd-0">
                    <div class="col-sm-6 padd-7">
                    </div>
                    <div class="col-sm-6 padd-7">
                      <p class="add-titel right-text2">12:00 PM</p>
                    </div>
                  </div>
                  <div class="col-sm-12 padd-7">
                    <div class="col-sm-11">
                      <p class="add-titel">Jhon Deo</p>
                      <p class="add-discri">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since Lorem Ipsum Lorem Ipsum has been the industry's standard
                        dummy text ever since Lorem Ipsum</p>
                    </div>
                    <div class="col-sm-1">
                      <button class="chat-next">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>


                </div>
              </div>
              <div class="col-sm-12 near-adds-list padd-0 active">
                  <div class="col-sm-3 padd-7">
                    <img class="img-responsive chat-pro-img" src="images/chat-list.png" />
                  </div>
                  <div class="col-sm-9 padd-7">
                    <div class="col-sm-12 padd-0">
                      <div class="col-sm-6 padd-7">
                      </div>
                      <div class="col-sm-6 padd-7">
                        <p class="add-titel right-text2">12:00 PM</p>
                      </div>
                    </div>
                    <div class="col-sm-12 padd-7">
                      <div class="col-sm-11">
                        <p class="add-titel">Jhon Deo</p>
                        <p class="add-discri">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                          industry's standard dummy text ever since Lorem Ipsum Lorem Ipsum has been the industry's standard
                          dummy text ever since Lorem Ipsum</p>
                      </div>
                      <div class="col-sm-1">
                        <button class="chat-next">
                          <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
  
  
                  </div>
                </div>
                <div class="col-sm-12 near-adds-list padd-0 active">
                    <div class="col-sm-3 padd-7">
                      <img class="img-responsive chat-pro-img" src="images/chat-list.png" />
                    </div>
                    <div class="col-sm-9 padd-7">
                      <div class="col-sm-12 padd-0">
                        <div class="col-sm-6 padd-7">
                        </div>
                        <div class="col-sm-6 padd-7">
                          <p class="add-titel right-text2">12:00 PM</p>
                        </div>
                      </div>
                      <div class="col-sm-12 padd-7">
                        <div class="col-sm-11">
                          <p class="add-titel">Jhon Deo</p>
                          <p class="add-discri">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since Lorem Ipsum Lorem Ipsum has been the industry's standard
                            dummy text ever since Lorem Ipsum</p>
                        </div>
                        <div class="col-sm-1">
                          <button class="chat-next">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
    
    
                    </div>
                  </div>

                  <!-- End -->
              



              <div class="col-sm-10 padd-left-0">
                <div class="col-sm-12 padd-0 scroll-right" data-mcs-theme="minimal-dark">
                  <div class="col-sm-12 near-adds-list padd-0 active" ng-click="communication(all,all.userId)" ng-repeat="all in allChats | filter:test">
                    <div class="col-sm-3 padd-7">
                      <img class="img-responsive  chat-pro-img" ng-show="all.image" src="{{all.image}}" />
                      <img class="img-responsive  chat-pro-img" ng-show="!all.image" src="images/logo-2.png" />
                    </div>
                    <div class="col-sm-9 padd-7">
                      <div class="col-sm-12 padd-0">
                        <div class="col-sm-6 padd-7">
                        </div>
                        <div class="col-sm-6 padd-7">
                          <p class="add-titel right-text2">{{all.created | date}}</p>
                        </div>
                      </div>
                      <div class="col-sm-12 padd-7">
                        <div class="col-sm-11">
                          <p class="add-titel">{{all.name}}</p>
                          <p class="add-discri">{{all.message}}</p>
                        </div>
                        <div class="col-sm-1">
                          <button class="chat-next">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-show="allChats.length<=0">
                  <h2>You don't have add any message yet.</h2>
                </div>

              </div>



            </div>
          </div>
        </div>



      </div>

</section>

<div ng-include="'templates/footer.html'"></div>


<!--Share Adds Modal -->
<div class="modal fade share-adds-modal" id="share-adds-modal-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h2 class="registrat">Share Ad with other Artist</h2>
        <div class="col-sm-12" style="margin-bottom: 30px; margin-top: 10px">
          <div class="col-sm-8 col-md-offset-2">
            <input class="search-input" name="" placeholder="Search ads" type="search">
          </div>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-3 share-add-list">
            <div class="share-add-img">
              <img class="img-responsive" src="images/profile-img.jpg">
              <div class="block-img"></div>
            </div>
            <p class="share-adds-profile">John Doe</p>
          </div>
          <div class="col-sm-3 share-add-list">
            <div class="share-add-img">
              <img class="img-responsive" src="images/profile-img.jpg">
              <div class="block-img"></div>
            </div>
            <p class="share-adds-profile">John Doe</p>

          </div>
          <div class="col-sm-3 share-add-list">
            <div class="share-add-img">
              <img class="img-responsive" src="images/profile-img.jpg">
              <div class="block-img"></div>
            </div>
            <p class="share-adds-profile">John Doe</p>
          </div>
          <div class="col-sm-3 share-add-list">
            <div class="share-add-img">
              <img class="img-responsive" src="images/profile-img.jpg">
              <div class="block-img"></div>
            </div>
            <p class="share-adds-profile">John Doe</p>
          </div>
          <div class="col-sm-3 share-add-list">
            <div class="share-add-img">
              <img class="img-responsive" src="images/profile-img.jpg">
              <div class="block-img"></div>
            </div>
            <p class="share-adds-profile">John Doe</p>
          </div>
          <div class="col-sm-3 share-add-list">
            <div class="share-add-img">
              <img class="img-responsive" src="images/profile-img.jpg">
              <div class="block-img"></div>
            </div>
            <p class="share-adds-profile">John Doe</p>
          </div>
          <div class="col-sm-3 share-add-list">
            <div class="share-add-img">
              <img class="img-responsive" src="images/profile-img.jpg">
              <div class="block-img"></div>
            </div>
            <p class="share-adds-profile">John Doe</p>
          </div>
          <div class="col-sm-3 share-add-list">
            <div class="share-add-img">
              <img class="img-responsive" src="images/profile-img.jpg">
              <div class="block-img"></div>
            </div>
            <p class="share-adds-profile">John Doe</p>
          </div>

          <div class="col-sm-3 ">
            <button class="mybtn" type="submit">
              <span>Sha</span>re</button>
          </div>

        </div>


      </div>

    </div>
  </div>
</div>

<!--Share Adds Modal -->
<div class="modal fade link-artist-modal" id="link-artist-modal-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h2 class="registrat">Link Artist</h2>
        <div class="col-sm-12" style="margin-bottom: 30px; margin-top: 10px">
          <div class="col-sm-10 col-md-offset-1">
            <input class="search-input" name="" placeholder="Search Artist" type="search">
          </div>
        </div>
        <div class="col-sm-12 link-artist-link-height mCustomScrollbar" data-mcs-theme="minimal-dark">

          <div class="col-sm-12 padd0 link-artist-link-list">
            <div class="col-sm-3 padd0">
              <div class="share-add-img">
                <img class="img-responsive" src="images/profile-img.jpg">
              </div>
            </div>
            <div class="col-sm-4 padd0">
              <p class="link-artist-name">John Doe</p>
            </div>
            <div class="col-sm-5 padd0">
              <button class="mybtn link-artist-link-active active" type="submit">
                <span>Linked</span>
              </button>
            </div>
          </div>
          <div class="col-sm-12 padd0 link-artist-link-list">
            <div class="col-sm-3 padd0">
              <div class="share-add-img">
                <img class="img-responsive" src="images/profile-img.jpg">
              </div>
            </div>
            <div class="col-sm-4 padd0">
              <p class="link-artist-name">John Doe</p>
            </div>
            <div class="col-sm-5 padd0">
              <button class="mybtn link-artist-link-active" type="submit">
                <span>Link th</span>is artist</button>
            </div>
          </div>
          <div class="col-sm-12 padd0 link-artist-link-list">
            <div class="col-sm-3 padd0">
              <div class="share-add-img">
                <img class="img-responsive" src="images/profile-img.jpg">
              </div>
            </div>
            <div class="col-sm-4 padd0">
              <p class="link-artist-name">John Doe</p>
            </div>
            <div class="col-sm-5 padd0">
              <button class="mybtn link-artist-link-active" type="submit">
                <span>Link th</span>is artist</button>
            </div>
          </div>
          <div class="col-sm-12 padd0 link-artist-link-list">
            <div class="col-sm-3 padd0">
              <div class="share-add-img">
                <img class="img-responsive" src="images/profile-img.jpg">
              </div>
            </div>
            <div class="col-sm-4 padd0">
              <p class="link-artist-name">John Doe</p>
            </div>
            <div class="col-sm-5 padd0">
              <button class="mybtn link-artist-link-active" type="submit">
                <span>Link th</span>is artist</button>
            </div>
          </div>
          <div class="col-sm-12 padd0 link-artist-link-list">
            <div class="col-sm-3 padd0">
              <div class="share-add-img">
                <img class="img-responsive" src="images/profile-img.jpg">
              </div>
            </div>
            <div class="col-sm-4 padd0">
              <p class="link-artist-name">John Doe</p>
            </div>
            <div class="col-sm-5 padd0">
              <button class="mybtn link-artist-link-active" type="submit">
                <span>Link th</span>is artist</button>
            </div>
          </div>



        </div>


      </div>

    </div>
  </div>
</div>


<!--Linkld artist Adds Modal -->
<div class="modal fade link-artist-modal" id="link-artist-modal-id-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h2 class="registrat-2">
          <span class="left-text">Link Artist</span>
          <span class="right-text"> Completed and Closed Ad</span>
        </h2>
        <div class="col-sm-12 link-artist-link-height mCustomScrollbar" data-mcs-theme="minimal-dark" style="height: 65vh;">

          <div class="col-sm-12 padd0 link-artist-link-list">
            <div class="col-sm-3 padd0">
              <div class="share-add-img">
                <img class="img-responsive" src="images/profile-img.jpg">
              </div>
            </div>
            <div class="col-sm-4 padd0">
              <p class="link-artist-name">John Doe</p>
            </div>
            <div class="col-sm-5 padd0">
              <button class="mybtn link-artist-link-active active" type="submit">
                <span>Fill</span>ed</button>
            </div>
          </div>
          <div class="col-sm-12 padd0 link-artist-link-list">
            <div class="col-sm-3 padd0">
              <div class="share-add-img">
                <img class="img-responsive" src="images/profile-img.jpg">
              </div>
            </div>
            <div class="col-sm-4 padd0">
              <p class="link-artist-name">John Doe</p>
            </div>
            <div class="col-sm-5 padd0">
              <button class="mybtn link-artist-link-active" type="submit">
                <span>Fi</span>ll</button>
            </div>
          </div>
          <div class="col-sm-12 padd0 link-artist-link-list">
            <div class="col-sm-3 padd0">
              <div class="share-add-img">
                <img class="img-responsive" src="images/profile-img.jpg">
              </div>
            </div>
            <div class="col-sm-4 padd0">
              <p class="link-artist-name">John Doe</p>
            </div>
            <div class="col-sm-5 padd0">
              <button class="mybtn link-artist-link-active" type="submit">
                <span>Fi</span>ll</button>
            </div>
          </div>
          <div class="col-sm-12 padd0 link-artist-link-list">
            <div class="col-sm-3 padd0">
              <div class="share-add-img">
                <img class="img-responsive" src="images/profile-img.jpg">
              </div>
            </div>
            <div class="col-sm-4 padd0">
              <p class="link-artist-name">John Doe</p>
            </div>
            <div class="col-sm-5 padd0">
              <button class="mybtn link-artist-link-active" type="submit">
                <span>
                  <span>Fi</span>ll</button>
            </div>
          </div>
          <div class="col-sm-12 padd0 link-artist-link-list">
            <div class="col-sm-3 padd0">
              <div class="share-add-img">
                <img class="img-responsive" src="images/profile-img.jpg">
              </div>
            </div>
            <div class="col-sm-4 padd0">
              <p class="link-artist-name">John Doe</p>
            </div>
            <div class="col-sm-5 padd0">
              <button class="mybtn link-artist-link-active" type="submit">
                <span>Fi</span>ll</button>
            </div>
          </div>



        </div>


      </div>

    </div>
  </div>
</div>


<!--Linkld artist Adds Modal -->
<div class="modal fade bs-example-modal-lg write-post-modal" id="write-post-modal-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body" style="height: 380px;">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h2 class="registrat">Write a Post</h2>
        <div class="col-sm-12 write-post-sec">
          <textarea class="form-control my-input" rows="5"></textarea>
        </div>
        <div class="col-sm-12 write-post-sec">
          <div class="col-sm-5 padd0">
            <div class="input-group write-post-tag">
              <span class="input-group-addon" id="basic-addon3">Tag Artist</span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="@artistname">
            </div>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-5">
            <p class="write-post-upload">
              <a href="" id="write-post-upload-img">
                <i class="fa fa-picture-o" aria-hidden="true"></i> Upload Video/Image</a>
            </p>
            <input id="post-upload-img" type="file" style="display: none;">
          </div>
        </div>
        <div class="col-sm-12 write-post-sec">
          <button class="mybtn" style="float: right;">
            <span>Po</span>st</button>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="chat-box" ng-show="isToggle">
  <button class="chat-close" ng-click="isToggle=false">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
  <div class="chat-header">
    <h2 class="titel">{{chatName}}</h2>
  </div>
  <div class="chat-body" id="chat-bind">
    <div style="width: 100%" class="heightClass" scroll="chats">
      <p class="chat-mass-left" ng-repeat="chat in chats" ng-if='chat.senderId!=userData.data._id'>
        <span ng-if='chat.senderId!=userData.data._id' class="border-color">{{chat.message}}</span>
      </p>
      <p class="chat-mass-right" ng-repeat="chat in chats | orderBy:'-'" ng-if='chat.senderId==userData.data._id'>
        <span ng-if='chat.senderId==userData.data._id' class="border-color">{{chat.message}}</span>
      </p>
    </div>
  </div>
  <div class="chat-foot">
    <!-- <input type="text" class="chat-inn" name="" placeholder="Type here" ng-model="chat.message"> -->
    <textarea type="textarea" id="myInput" class="chat-inn" name="" placeholder="Type here" ng-model="chat.message"></textarea>
    <button class="chat-send" ng-click="sendMessage(userData.data._id)">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </button>
  </div>

</div>
<!--Linkld artist Adds Modal -->
<!-- <div class="modal fade log-out-modale" id="log-out-modal-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="height: 250px;">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
        <h2 class="registrat">Log Out</h2>
        <div class="col-sm-12 write-post-sec">
          <p class="profile-discri" style="text-align: center;">Are you sure wont to logout from the Judah's Link?</p>
        </div>
        
        <div class="col-sm-12 write-post-sec">
          <button class="mybtn" style="float: left; margin-left: 20%;"><span>Ye</span>s</button>
          <button class="mybtn" style="float: right; margin-right: 20%;"><span>N</span>0</button>
        </div>
        
        
      </div>
    </div>
  </div>
</div> -->
<div ng-include="'templates/logout.html'"></div>
<script>

</script>