<!-- <footer class="footer-sec">
<div class="top-foot">
<div class="container">
<div class="col-md-4 col-sm-4 col-xs-12"><p class="copy-right">2017 © Judah’s Link</p></div>
<div class="col-md-4 col-sm-4 col-xs-12"><p class="socail-media"><a href="https://www.facebook.com/Judahs-Link-152821492208930/"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://twitter.com/JudahsLink"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="https://www.instagram.com/judahslink/"><i class="fa fa-instagram" aria-hidden="true"></i></a> <a href="https://www.linkedin.com/company/judah-s-link/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></p></div>
<div class="col-md-4 col-sm-4 col-xs-12"><p class="copy-terms"><a href="#">TERMS OF USE</a> | <a href="#">PRIVACY POLICY</a></p></div>
<div class="col-md-12 col-sm-12 col-xs-12"><p class="design">Designed by</p></div>
</div>
</div>
</footer> -->




<footer class="dashboard-footer" style="position:fixed">
<div class="container">
<div class="col-md-4">
  <p class="das-copyright">2017 © Judah’s Link</p>
</div>
<div class="col-md-4">
  <p class="das-socal-media"><a href="https://www.facebook.com/Judahs-Link-152821492208930/"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://twitter.com/JudahsLink"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="https://www.instagram.com/judahslink/"><i class="fa fa-instagram" aria-hidden="true"></i></a> <a href="https://www.linkedin.com/company/judah-s-link/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></p>
</div>
<div class="col-md-4">
  <p class="das-privcy"><a ui-sref="term">TERMS OF USE</a> | <a ui-sref="privacy">PRIVACY POLICY</a></p>
</div>
</div>
</footer> 
