<!--Linkld artist Adds Modal -->
<div class="modal fade log-out-modale" id="log-out-modal-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="headerCtrl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="height: 250px;">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
        <h2 class="registrat">Log Out</h2>
        <div class="col-sm-12 write-post-sec">
          <p class="profile-discri" style="text-align: center;">Are you sure want to logout from the Judah's Link?</p>
        </div>
        
        <div class="col-sm-12 write-post-sec">
          <button class="mybtn" style="float: left; margin-left: 20%;" ng-click="logout()" data-dismiss="modal"><span>Ye</span>s</button>
          <button class="mybtn" style="float: right; margin-right: 20%;" data-dismiss="modal"><span>N</span>0</button>
        </div>
        
        
      </div>
    </div>
  </div>
</div>
