<script type="text/javascript" src="http://jcrop-cdn.tapmodo.com/v0.9.12/js/jquery.Jcrop.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://jcrop-cdn.tapmodo.com/v0.9.12/css/jquery.Jcrop.min.css">
<div id="loading">
  <img id="loading-image" src="images/example.gif" alt="Loading..." />
</div>
<header class="home-header">
  <div class="logo-sec">
    <div class="container-fluid">
      <div class="col-md-3 col-sm-4 col-sx-12">
        <a class="logo-padd" href="#">
          <img class="logo" width="220" src="images/logo.png" />
        </a>
      </div>
      <div class="col-md-5 col-sm-4 col-sx-12">
        <ul class="navbar-cent">
          <li>
            <a href="" ui-sref="login" data-toggle="modal" data-target="#login-modal-id" ng-click="checkLoginByRole('Place_Add')">Place an AD</a>
          </li>
          <li>
            <a ui-sref="login" data-toggle="modal" data-target="#login-modal-id" ng-click="checkLoginByRole('Artists')"> Artist Login</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4 col-sx-12">
        <nav class="navbar navbar-default main-nav">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#/about-us">About Us</a>
              </li>
              <li>
                <a href="#/contact-us">Contact Us</a>
              </li>
            </ul>

          </div>
          <!-- /.navbar-collapse -->
        </nav>
      </div>
    </div>
  </div>
</header>
<section class="slider">
  <div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-interval="4000" data-ride="carousel">
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <img src="images/slider-1.jpg" alt="First Slide">
          <div class="carousel-caption">
            <h3>Welcome</h3>
            <p class="sub-titel">To Judah
              <span>’</span>s Link
              <span>.</span>
            </p>
            <p class="border">&nbsp;</p>
            <p class="discription">Post ADs | Sell & Shop Items | Search Artists</p>
          </div>
        </div>
        <div class="item">
          <img src="images/slider-2.jpg" alt="Second Slide">
          <div class="carousel-caption">
            <h3 class="slide-3">Make The Link
              <br>Mold The Ministry</h3>
            <p class="sub-titel slide-3">Display your place in the praise and worship community
              <br> and link your artist profile to posted ads.</p>
            <p class="border">&nbsp;</p>
            <p class="discription">Link artist profiles to posted ads</p>
          </div>
        </div>
        <div class="item">
          <img src="images/slider-3.jpg" alt="Third Slide">
          <div class="carousel-caption">
            <h3 class="slide-3">Meet Ministry
              <br>And Event Needs</h3>
            <p class="sub-titel slide-3">Place ads to find the right person to fill your position.</p>
            <p class="border">&nbsp;</p>
            <p class="discription">Post ADs | Sell & Shop Items | Search Artists</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<script src="js/app.js"></script>

<section class="section1">
  <div class="container">
    <div class="col-md-12 col-sm-12 col-sx-12 padd-60">
      <img class="img-responsive" src="images/tap-banners.jpg" />
      <div class="text-list">
        <ul class="home-list">
          <li>Artists view ads as they are posted.</li>
          <li>Sell or shop items used in worship ministry.</li>
          <li>Artists can enjoy socializing within Judah’s community.</li>
          <li>And more…</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<style>
  .img-hove .img-responsive{
    height: 338px;
  }
</style>
<section class="section2">
  <div class="container">
    <div class="col-md-10 col-sm-12 col-sx-12 col-md-offset-2">
      <h3 class="sec-titel">Near By</h3>
      <div class="col-md-12 col-sm-12 col-xs-12 padd-50">
          <div class="col-md-4 col-sm-12 col-xs-12 padd0">
              <div class="col-md-12 col-sm-6 col-xs-12 img-hove">
                  <img class="img-responsive"  ng-src="{{userListData[0].profileImage}}"  />
                  <div class="profile">
                      <p class="profile-name">{{userListData[0].firstName}}</p>
                      <p class="more-hide">{{userListData[0].lastName}}</p>
                      <div class="border"></div>
                      <p class="job-titel">{{userListData[0].denomination}}</p>
                  </div>
                  <div class="over-lap-box"></div>
              </div>
              <div class="col-md-12 col-sm-6 col-xs-12 img-hove">
                  <img class="img-responsive"  ng-src="{{userListData[1].profileImage}}"  />
                  <div class="profile">
                      <p class="profile-name">{{userListData[1].firstName}}</p>
                      <p class="more-hide">{{userListData[1].lastName}}</p>
                      <div class="border"></div>
                      <p class="job-titel">{{userListData[1].denomination}}</p>
                  </div>
                  <div class="over-lap-box"></div>
              </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 padd0 padd-top-50">
              <div class="col-md-12 col-sm-6 col-xs-12 img-hove">
                  <img class="img-responsive"  ng-src="{{userListData[1].profileImage}}"  />
                  <div class="profile">
                      <p class="profile-name">{{userListData[2].firstName}}</p>
                      <p class="more-hide">{{userListData[2].lastName}}</p>
                      <div class="border"></div>
                      <p class="job-titel">{{userListData[2].denomination}}</p>
                  </div>
                  <div class="over-lap-box"></div>
              </div>
              <div class="col-md-12 col-sm-6 col-xs-12 img-hove">
                  <img class="img-responsive"  ng-src="{{userListData[3].profileImage}}"  />
                  <div class="profile">
                      <p class="profile-name">{{userListData[3].firstName}}</p>
                      <p class="more-hide">{{userListData[3].lastName}}</p>
                      <div class="border"></div>
                      <p class="job-titel">{{userListData[3].denomination}}</p>
                  </div>
                  <div class="over-lap-box"></div>
              </div>
              <div class="clearfix"></div>
              <!-- <p class="see-more"><a href="#"><span>See All</span> Artists</a></p> -->
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 padd0">
              <div class="col-md-12 col-sm-6 col-xs-12 img-hove">
                  <img class="img-responsive"  ng-src="{{userListData[4].profileImage}}"  />
                  <div class="profile">
                      <p class="profile-name">{{userListData[4].firstName}}</p>
                      <p class="more-hide">{{userListData[4].lastName}}</p>
                      <div class="border"></div>
                      <p class="job-titel">{{userListData[4].denomination}}</p>
                  </div>
                  <div class="over-lap-box"></div>
              </div>
              <div class="col-md-12 col-sm-6 col-xs-12 img-hove">
                  <img class="img-responsive"  ng-src="{{userListData[5].profileImage}}"  />
                  <div class="profile">
                      <p class="profile-name">{{userListData[5].firstName}}</p>
                      <p class="more-hide">{{userListData[5].lastName}}</p>
                      <div class="border"></div>
                      <p class="job-titel">{{userListData[5].denomination}}</p>
                  </div>
                  <div class="over-lap-box"></div>
              </div>
          </div>
      </div>

    <div class="col-md-10 col-xs-12 col-md-offset-2"> 
      <h3 class="sec-titel">Near By</h3>
      <div class="col-md-12 col-xs-12 padd-50">
          <div class="col-md-12 col-xs-12 padd0">
              <div class="col-md-12 col-xs-12 img-hove">
                  <img class="img-responsive respo-img"  ng-src="{{addListData[0].mediaData[0].mediaUrl}}"  />
                  <div class="profile respo-profile">
                      <p class="profile-name respo-name">{{addListData[0].title}}</p>
                      <p class="more-hide respo-hide">{{addListData[0].locationName}}</p>
                      <div class="border"></div>
                      <p class="job-titel low-sec-titel"></p>
                  </div>
                  <div class="over-lap-box"></div>
              </div>
              <div class="col-md-12 col-xs-12 img-hove">
                  <img class="img-responsive respo-img"  ng-src="{{addListData[1].mediaData[0].mediaUrl}}"  />
                  <div class="profile respo-profile">
                      <p class="profile-name respo-name">{{addListData[1].title}}</p>
                      <p class="more-hide respo-hide">{{addListData[1].locationName}}</p>
                      <div class="border"></div>
                      <p class="job-titel low-sec-titel"></p>
                  </div>
                  <div class="over-lap-box"></div>
              </div>
              <div class="col-md-12 col-xs-12 img-hove">
                  <img class="img-responsive respo-img"  ng-src="{{addListData[2].mediaData[0].mediaUrl}}"  />
                  <div class="profile respo-profile">
                      <p class="profile-name respo-name">{{addListData[2].title}}</p>
                      <p class="more-hide respo-hide">{{addListData[2].locationName}}</p>
                      <div class="border"></div>
                      <p class="job-titel low-sec-titel"></p>
                  </div>
                  <div class="over-lap-box"></div>
              </div>
              <div class="clearfix"></div>
              <!-- <p class="see-more"><a href="#"><span>See A</span>Ds</a></p> -->
          </div>

      </div>
    </div>
</section>
<div class="foot-gray">
  <div class="border-gray"></div>
</div>
<div ng-include="'templates/footer.html'"></div>
<!-- <footer class="footer-sec">
<div class="top-foot">
<div class="container">
<div class="col-md-4 col-sm-4 col-xs-12"><p class="copy-right">2017 © Judah’s Link</p></div>
<div class="col-md-4 col-sm-4 col-xs-12"><p class="socail-media"><a href="https://www.facebook.com/Judahs-Link-152821492208930/"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://twitter.com/JudahsLink"><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="https://www.instagram.com/judahslink/"><i class="fa fa-instagram" aria-hidden="true"></i></a> <a href="https://www.linkedin.com/company/judah-s-link/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></p></div>
<div class="col-md-4 col-sm-4 col-xs-12"><p class="copy-terms"><a href="#">TERMS OF USE</a> | <a href="#">PRIVACY POLICY</a></p></div>
<div class="col-md-12 col-sm-12 col-xs-12"><p class="design">Designed by</p></div>
</div>
</div>
</footer> -->
<div class="learn-more">
  <p>Know more
    <img width="65" src="images/line-2.png">
  </p>
</div>


<!-- Modal -->
<div class="modal fade sign-modal" id="artist-signup-modal-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <form name="artistsignupForm" novalidate>
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
          <img width="240" class="img-responsive img-cent" src="images/logo-2.png">
          <h2 class="registrat">Registration</h2>
          <div class="col-sm-12 padd0">
            <div class="col-sm-12 padd7">
              <p class="sign-up-lable">Type of Ad Placer?</p>
              <div class="col-sm-12 radio-btn" style="margin-bottom: 20px; margin-top: 10px;">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Individual" ng-model="userInfo.user_type"> Individual
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" ng-model="userInfo.user_type" value="Church"> Church
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" ng-model="userInfo.user_type" value="Organization"> Organization
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio4" ng-model="userInfo.user_type" value="Group"> Group
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio5" ng-model="userInfo.user_type" value="Other"> Other
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-12 padd0">
            <div class="col-sm-3 padd7">
              <p class="sign-up-lable">Personal Info</p>
              <div class="col-sm-12 padd0">
                <img id="OpenImgUpload5" width="90" class="img-responsive" src="images/upload-img.png" ng-show="!userInfo.profileImage">
                <img id="OpenImgUpload5" style="margin-left: -10px" ng-show="userInfo.profileImage" width="90" class="img-responsive chat-pro-img"
                  src="{{userInfo.profileImage}}">
                <input type="file" id="imgupload5" onchange="angular.element(this).scope().profileImageUplaod(this,'imgupload5')" style="display:none"
                />

              </div>
              <p class="upload-lable">Upload Photo</p>

            </div>
            <div class="col-sm-9 padd7">
              <div class="col-sm-12 padd0">
                <div class="col-sm-4 padd7 marg-5">
                  <input type="text" name="firstName" class="form-control my-input" ng-model="userInfo.firstName" placeholder="Name"
                    required>
                  <span style="color:red" ng-show="artistsignupForm.firstName.$dirty && artistsignupForm.firstName.$invalid">
                    <span ng-show="artistsignupForm.firstName.$error.required">Name is required.</span>
                  </span>
                  <span style="color:red" ng-show="isValidate">
                    <span ng-show="artistsignupForm.firstName.$invalid">Name is required.</span>
                  </span>


                </div>
                <div class="col-sm-4 padd7 marg-5">
                  <input type="text" name="city" class="form-control my-input" ng-model="userInfo.city" placeholder="City"
                    required="">
                  <span style="color:red" ng-show="artistsignupForm.city.$dirty && artistsignupForm.city.$invalid">
                    <span ng-show="artistsignupForm.city.$error.required">City is required.</span>
                  </span>
                  <span style="color:red" ng-show="isValidate">
                    <span ng-show="artistsignupForm.city.$invalid">City is required.</span>
                  </span>
                </div>
                <div class="col-sm-4 padd7 marg-5">
                  <input type="text" name="state" class="form-control my-input" ng-model="userInfo.state" placeholder="State"
                    required>
                  <span style="color:red" ng-show="artistsignupForm.state.$dirty && artistsignupForm.state.$invalid">
                    <span ng-show="artistsignupForm.state.$error.required">State is required.</span>
                  </span>
                  <span style="color:red" ng-show="isValidate">
                    <span ng-show="artistsignupForm.state.$invalid">State is required.</span>
                  </span>
                </div>
              </div>
              <div class="col-sm-12 padd0">
                <div class="col-sm-4 padd7 marg-5">
                  <input type="text" name="denomination" class="form-control my-input" ng-model="userInfo.denomination" placeholder="Denomination"
                    required>
                  <!--  <span style="color:red" ng-show="artistsignupForm.denomination.$dirty && artistsignupForm.denomination.$invalid">
                    <span ng-show="artistsignupForm.denomination.$error.required">Denomination is required.</span>
              </span> -->
                </div>
                <div class="col-sm-4 padd7 marg-5">
                  <input type="text" name="website" class="form-control my-input" ng-model="userInfo.website" placeholder="Website"
                    required>
                  <!-- <span style="color:red" ng-show="artistsignupForm.website.$dirty && artistsignupForm.website.$invalid">
                    <span ng-show="artistsignupForm.website.$error.required">Website is required.</span>
              </span> -->
                </div>
                <div class="col-sm-4 padd7 marg-5">
                  <input type="text" class="form-control my-input" name="interest" ng-model="userInfo.interest" required placeholder="Style Preferences">
                  <!-- <span style="color:red" ng-show="artistsignupForm.interest.$dirty && artistsignupForm.interest.$invalid">
                    <span ng-show="artistsignupForm.interest.$error.required">Interest is required.</span>
              </span> -->
                </div>
                <!-- <div class="col-sm-4 padd7 marg-5">
              <select class="form-control my-input" name="interest" ng-model="userInfo.interest" required>
                      <option ng-selected="true">Please Select your interest</option>
                      <option>Position Interest1</option>
                      <option>Position Interest2</option>
                      <option>Position Interest3</option>
                      <option>Position Interest4</option>
                      <option>Position Interest5</option>
                   </select>
                    <span style="color:red" ng-show="artistsignupForm.interest.$dirty && artistsignupForm.interest.$invalid">
                    <span ng-show="artistsignupForm.interest.$error.required">Interest is required.</span>
              </span>
            </div> -->
              </div>
              <!--   <div class="col-sm-12 padd0">
            <div class="col-sm-6 padd7 marg-5"><input type="text" name="degree" class="form-control my-input" ng-model="userInfo.degree"  placeholder="Degree/ Certifications" required>
            <span style="color:red" ng-show="artistsignupForm.degree.$dirty && artistsignupForm.degree.$invalid">
                    <span ng-show="artistsignupForm.degree.$error.required">Degree is required.</span>
              </span>
            </div>
            <div class="col-sm-6 padd7 marg-5"><input type="text" name="skill" class="form-control my-input" ng-model="userInfo.skill" placeholder="Skills" required>
               <span style="color:red" ng-show="artistsignupForm.skill.$dirty && artistsignupForm.skill.$invalid">
                    <span ng-show="artistsignupForm.skill.$error.required">Skill is required.</span>
              </span>
            </div>
            </div> -->
              <div class="col-sm-12 padd0">
                <div class="col-sm-12 padd7 marg-5">
                  <textarea class="form-control my-input" name="aboutUs" rows="3" ng-model="userInfo.aboutUs" placeholder="About"
                    required></textarea>
                  <!-- <span style="color:red" ng-show="artistsignupForm.aboutUs.$dirty && artistsignupForm.aboutUs.$invalid">
                    <span ng-show="artistsignupForm.aboutUs.$error.required">AboutUs is required.</span>
              </span> -->
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 padd0">
            <div class="col-sm-3 padd7">
              <p class="sign-up-lable">Credentials</p>
            </div>
            <div class="col-sm-9 padd7">
              <div class="col-sm-12 padd0">
                <div class="col-sm-4 padd7 marg-5">
                  <input type="email" name="email" class="form-control my-input" ng-model="userInfo.email" placeholder="Email"
                    required>
                  <span style="color:red" ng-show="artistsignupForm.email.$dirty && artistsignupForm.email.$invalid">
                    <span ng-show="artistsignupForm.email.$error.required">Email is required.</span>
                    <span ng-show="artistsignupForm.email.$error.email">Invalid email address.</span>
                  </span>
                  <span style="color:red" ng-show="isValidate && artistsignupForm.email.$invalid">
                    <span ng-show="artistsignupForm.email.$invalid">Email is required.</span>
                  </span>
                </div>

                <div class="col-sm-4 padd7 marg-5">
                  <input type="password" name="password" class="form-control my-input" ng-model="userInfo.password" placeholder="Password"
                    required>
                  <span style="color:red" ng-show="artistsignupForm.password.$dirty && artistsignupForm.password.$invalid">
                    <span ng-show="artistsignupForm.password.$error.required">Password is required.</span>
                  </span>
                  <span style="color:red" ng-show="isValidate">
                    <span ng-show="artistsignupForm.password.$invalid">Password is required.</span>
                  </span>
                </div>
                <!-- <div class="col-sm-4 padd7 marg-5"><input type="password" class="form-control my-input"  placeholder="Confirm Password"></div> -->
              </div>
              <div class="col-md-12 padd0">
                <!-- <button class="mybtn" type="submit" ng-click="signUp()" ng-disabled="artistsignupForm.password.$dirty && artistsignupForm.password.$invalid ||  artistsignupForm.email.$dirty && artistsignupForm.email.$invalid || !artistsignupForm.password.$valid || !artistsignupForm.email.$valid || artistsignupForm.city.$dirty && artistsignupForm.city.$invalid || artistsignupForm.state.$dirty && artistsignupForm.state.$invalid || artistsignupForm.skill.$dirty && artistsignupForm.skill.$invalid  || artistsignupForm.firstName.$dirty && artistsignupForm.firstName.$invalid"><span>SignUp</span></button> -->
                <button class="mybtn" type="submit" ng-click="signUp()">
                  <span>SignUp</span>
                </button>
              </div>

            </div>
          </div>

        </div>

      </div>
    </form>
  </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Select An Image</h3>
  </div>
  <div class="modal-body">
       <div>Select an image file: <input type="file" id="fileInput" /></div>
  <div class="cropArea">
    <img-crop image="myImage" area-type="rectangle" area-init-size="{ w:cropper.cropWidth,h:cropper.cropHeight}" cropject="cropper" result-image="myCroppedImage"></img-crop>
  </div>
</td>
<td>
  <div>Cropped Image:</div>
  <div><img ng-src="{{myCroppedImage}}" /></div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>




<!-- Modal -->
<div class="modal fade sign-modal" id="signup-modal-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <style>
    img#item-img-output {
      width: 152px;
      height: 154px;
      border-radius: 50%;
    }
  </style>
  <div class="modal-dialog" role="document">
    <form name="signupForm" novalidate id="signupForm">
      <div class="modal-content">
        <div class="modal-body">

          <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
          <img width="240" class="img-responsive img-cent" src="images/logo-2.png">
          <h2 class="registrat">Registration</h2>
          <div class="col-sm-12 padd0">
            <div class="col-sm-3 padd7">
              <p class="sign-up-lable">Personal Infoasd </p>
              <div class="col-sm-12 padd0">
                <!-- <img id="OpenImgUpload1" style="margin-left: -10px" style="display: none;" ng-show="userInfo.profileImage" width="90" class="img-responsive chat-pro-img" src="{{userInfo.profileImage}}"> -->
                <!-- <div id="views"></div> -->
                <!-- <img id="OpenImgUpload" width="90" class="img-responsive" src="images/upload-img.png" ng-show="!userInfo.profileImage">
              
              <input type="file" id="imgupload" onchange="angular.element(this).scope().profileImageUplaod(this,'imgupload')" style="display:none"/>  -->
                <!-- <button type="button" class="btn btn-default" ng-click="open()">Browse</button>
              <input type="file" id="file">
              <button id="cropbutton" type="button">Crop</button> -->
                <!-- <div class="demo"></div> -->
                <script src="../js/cropper/imagecropper.js"></script>


                <div class="container">
                  <div class="row">
                    <div class="col-xs-12">
                      <label class="cabinet center-block">
                        <figure>
                          <img src="" class="gambar img-responsive img-thumbnail" id="item-img-output" />
                          <figcaption>
                            <i class="fa fa-camera"></i>
                          </figcaption>
                        </figure>
                        <input type="file" class="item-img file center-block" name="file_photo" />
                        <span style="margin-top: 28px;
                        position: absolute;
                        color: #f42603;">
                          image ratio must be between  150x200 to better displaying
                        </span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                          <!-- <?=multiLanguage( "Edit Foto" , "Edit Photo" )?> -->
                        </h4>
                      </div>
                      <div class="modal-body">
                        <div id="upload-demo" class="center-block"></div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="cropImageBtn" class="btn btn-primary">Crop</button>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
              <p class="upload-lable">Upload Photo</p>

            </div>
            <div class="col-sm-9 padd7">
              <div class="col-sm-12 padd0">
                <div class="col-sm-4 padd7 marg-5">
                  <input type="text" name="firstName" class="form-control my-input" ng-model="userInfo.firstName" placeholder="Name"
                    required>
                  <span style="color:red" ng-show="signupForm.firstName.$dirty && signupForm.firstName.$invalid">
                    <span ng-show="signupForm.firstName.$error.required">FirstName is required.</span>
                  </span>

                </div>
                <div class="col-sm-4 padd7 marg-5">
                  <input type="text" name="city" class="form-control my-input" ng-model="userInfo.city" placeholder="City"
                    required="">
                  <span style="color:red" ng-show="signupForm.city.$dirty && signupForm.city.$invalid">
                    <span ng-show="signupForm.city.$error.required">City is required.</span>
                  </span>
                </div>
                <div class="col-sm-4 padd7 marg-5">
                  <input type="text" name="state" class="form-control my-input" ng-model="userInfo.state" placeholder="State"
                    required>
                  <span style="color:red" ng-show="signupForm.state.$dirty && signupForm.state.$invalid">
                    <span ng-show="signupForm.state.$error.required">State is required.</span>
                  </span>
                </div>
              </div>
              <div class="col-sm-12 padd0">
                <div class="col-sm-4 padd7 marg-5">
                  <input type="text" name="denomination" class="form-control my-input" ng-model="userInfo.denomination" placeholder="Denomination"
                    required>
                  <span style="color:red" ng-show="signupForm.denomination.$dirty && signupForm.denomination.$invalid">
                    <span ng-show="signupForm.denomination.$error.required">Denomination is required.</span>
                  </span>
                </div>
                <div class="col-sm-4 padd7 marg-5">
                  <input type="text" name="website" class="form-control my-input" ng-model="userInfo.website" placeholder="Website"
                    required>
                  <span style="color:red" ng-show="signupForm.website.$dirty && signupForm.website.$invalid">
                    <span ng-show="signupForm.website.$error.required">Website is required.</span>
                  </span>
                </div>
                <div class="col-sm-4 padd7 marg-5">
                  <select class="form-control my-input" name="interest" ng-model="userInfo.interest" required>
                    <option ng-selected="true">Please Select your interest</option>
                    <option>Position Interest1</option>
                    <option>Position Interest2</option>
                    <option>Position Interest3</option>
                    <option>Position Interest4</option>
                    <option>Position Interest5</option>
                  </select>
                  <span style="color:red" ng-show="signupForm.interest.$dirty && signupForm.interest.$invalid">
                    <span ng-show="signupForm.interest.$error.required">Interest is required.</span>
                  </span>
                </div>
              </div>
              <div class="col-sm-12 padd0">
                <div class="col-sm-6 padd7 marg-5">
                  <input type="text" name="degree" class="form-control my-input" ng-model="userInfo.degree" placeholder="Degree/ Certifications"
                    required>
                  <span style="color:red" ng-show="signupForm.degree.$dirty && signupForm.degree.$invalid">
                    <span ng-show="signupForm.degree.$error.required">Degree is required.</span>
                  </span>
                </div>
                <div class="col-sm-6 padd7 marg-5">
                  <input type="text" name="skill" class="form-control my-input" ng-model="userInfo.skill" placeholder="Skills"
                    required>
                  <span style="color:red" ng-show="signupForm.skill.$dirty && signupForm.skill.$invalid">
                    <span ng-show="signupForm.skill.$error.required">Skill is required.</span>
                  </span>
                </div>
              </div>
              <div class="col-sm-12 padd0">
                <div class="col-sm-12 padd7 marg-5">
                  <textarea class="form-control my-input" name="aboutUs" rows="3" ng-model="userInfo.aboutUs" placeholder="About"
                    required></textarea>
                  <span style="color:red" ng-show="signupForm.aboutUs.$dirty && signupForm.aboutUs.$invalid">
                    <span ng-show="signupForm.aboutUs.$error.required">AboutUs is required.</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 padd0">
            <div class="col-sm-3 padd7">
              <p class="sign-up-lable">Featured Video & Photoss</p>
            </div>
            <div class="col-sm-9 padd7">
              <ul class="upload-video">
                <li ng-repeat="mediaInfo in userInfo.media">
                  <img width="150" height="80" src="{{mediaInfo.url}}">
                </li>
                <!-- <li><img width="90" height="80" src="images/video2.jpg"></li>
              <li><img width="90" height="80" src="images/video2.jpg"></li> -->
                <li>
                  <img width="90" id="OpenImgUpload2" height="80" src="images/add-btn.png">
                  <input type="file" id="imgupload2" onchange="angular.element(this).scope().changeFile(this,'file1')" style="display:none"
                  /> </li>
              </ul>
              <div class="col-sm-12 padd7">
                <div class="checkbox my-check">
                  <label>
                    <input class="check-input" type="checkbox"> Featured Profile Video
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 padd0">
            <div class="col-sm-3 padd7">
              <p class="sign-up-lable">Credentials</p>
            </div>
            <div class="col-sm-9 padd7">
              <div class="col-sm-12 padd0">
                <div class="col-sm-4 padd7 marg-5">
                  <input type="email" name="email" class="form-control my-input" ng-model="userInfo.email" placeholder="Email"
                    required>
                  <span style="color:red" ng-show="signupForm.email.$dirty && signupForm.email.$invalid">
                    <span ng-show="signupForm.email.$error.required">Email is required.</span>
                    <span ng-show="signupForm.email.$error.email">Invalid email address.</span>
                  </span>
                </div>

                <div class="col-sm-4 padd7 marg-5">
                  <input type="password" name="password" class="form-control my-input" ng-model="userInfo.password" placeholder="Password"
                    required>
                  <span style="color:red" ng-show="signupForm.password.$dirty && signupForm.password.$invalid">
                    <span ng-show="signupForm.password.$error.required">Password is required.</span>
                  </span>
                </div>
                <div class="col-sm-4 padd7 marg-5">
                  <input type="password" class="form-control my-input" placeholder="Confirm Password">
                </div>
              </div>
              <div class="col-md-12 padd0">
                <button class="mybtn" type="submit" ng-click="signUp()" ng-disabled="signupForm.password.$dirty && signupForm.password.$invalid ||  signupForm.email.$dirty && signupForm.email.$invalid || !signupForm.password.$valid || !signupForm.email.$valid || signupForm.city.$dirty && signupForm.city.$invalid || signupForm.state.$dirty && signupForm.state.$invalid || signupForm.skill.$dirty && signupForm.skill.$invalid || signupForm.aboutUs.$dirty && signupForm.aboutus.$invalid || signupForm.firstName.$dirty && signupForm.firstName.$invalid || signupForm.denomination.$dirty && signupForm.denomination.$invalid || signupForm.interest.$dirty && signupForm.interest.$invalid">
                  <span>SignUp</span>
                </button>
                <span style="color:red" ng-show="signupForm.password.$dirty && signupForm.password.$invalid ||  signupForm.email.$dirty && signupForm.email.$invalid || !signupForm.password.$valid || !signupForm.email.$valid || signupForm.city.$dirty && signupForm.city.$invalid || signupForm.state.$dirty && signupForm.state.$invalid || signupForm.skill.$dirty && signupForm.skill.$invalid || signupForm.aboutUs.$dirty && signupForm.aboutus.$invalid || signupForm.firstName.$dirty && signupForm.firstName.$invalid || signupForm.denomination.$dirty && signupForm.denomination.$invalid || signupForm.interest.$dirty && signupForm.interest.$invalid">All fields are required.</span>
              </div>

            </div>
          </div>

        </div>

      </div>
    </form>
  </div>
</div>

<div class="modal fade subscribe-modale" id="subscribe-modale-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="height: 380px;">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
        <h2 class="registrat">Upgrade Subscription</h2>
        <div class="col-sm-12">
          <div class="col-sm-5 subcribe-card" ng-class="{'active': planId=='1'}" ng-click="subscription('1')">
            <p class="time-pireod">1Month</p>
            <p class="time-pireod">Subscription</p>
            <p class="renuw-new-btn">
              <a href="#"></a>
            </p>
            <div class="subcri-price-box">$50</div>

          </div>
          <div class="col-sm-5 subcribe-card" ng-click="subscription('2')" ng-class="{'active': planId=='2'}">
            <p class="time-pireod">1Month</p>
            <p class="time-pireod">Subscription</p>

            <div class="subcri-price-box">$50</div>
          </div>
          <div class="col-sm-5 subcribe-card" ng-click="subscription('3')" ng-class="{'active': planId=='3'}">
            <p class="time-pireod">1Month</p>
            <p class="time-pireod">Subscription</p>

            <div class="subcri-price-box">$50</div>
          </div>
          <div class="col-sm-5 subcribe-card" ng-click="subscription('4')" ng-class="{'active': planId=='4'}">
            <p class="time-pireod">1Month</p>
            <p class="time-pireod">Subscription</p>

            <div class="subcri-price-box">$50</div>
          </div>



        </div>


      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade login-modal" id="login-modal-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <form name="myform" novalidate>
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
          <img width="240" class="img-responsive img-cent" src="images/logo-2.png">
          <h2 class="registrat">Sign In</h2>
          <div class="col-sm-12">
            <div class="col-sm-12 padd0">
              <div class="col-sm-12 padd7 marg-10">
                <input type="email" class="form-control my-input" ng-model="userInfo.email" placeholder="Email" name="email" required>
                <span style="color:red" ng-show="myform.email.$dirty && myform.email.$invalid">
                  <span ng-show="myform.email.$error.required">Email is required.</span>
                  <span ng-show="myform.email.$error.email">Invalid email address.</span>
                </span>
              </div>
              <div class="col-sm-12 padd7 marg-10">
                <input type="password" class="form-control my-input" name="password" ng-model="userInfo.password" placeholder="Password"
                  required>
                <span style="color:red" ng-show="myform.password.$dirty && myform.password.$invalid">
                  <span ng-show="myform.password.$error.required && !myform.password.$valid">Password is required.</span>
                </span>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-12 padd7">

                <p class="forget-pass">
                  <a href="#forget-modal-id" data-toggle="modal" data-dismiss="modal">Forgot Password?</a>
                </p>
              </div>
              <!-- <div class="col-md-12 padd7 marg-10"> 
     <button class="mybtn" type="submit" ng-click="signIn()" ng-disabled="myform.password.$dirty && myform.password.$invalid ||  myform.email.$dirty && myform.email.$invalid || !myform.password.$valid || !myform.email.$valid"><span>Sign</span> In</button>
               </div> -->
              <div class="col-md-12 padd7 marg-10">
                <button class="mybtn" type="submit" ng-click="signIn()">
                  <span>Sign</span> In</button>
                <span ng-show="isSubmit && myform.password.$error.required && myform.email.$error.required" style="color:red">Password & Email is required.</span>
              </div>
              <div class="col-md-12 marg-10">
                <div class="clearfix"></div>
                <p class="sign-up-link" ng-show="checkRole=='Place_Add'">Not registered Yet?
                  <a href="#artist-signup-modal-id" data-toggle="modal" data-dismiss="modal">
                    <span>Sign</span> Up</a>
                </p>
                <p class="sign-up-link" ng-show="checkRole=='Artists'">Not registered Yet?
                  <a href="#signup-modal-id" data-toggle="modal" data-dismiss="modal">
                    <span>Sign</span> Up</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Modal -->
<div class="modal fade login-modal" id="forget-modal-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <form name="forgotForm" novalidate>
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
          <img width="240" class="img-responsive img-cent" src="images/logo-2.png">
          <h2 class="registrat">Forgot Password?</h2>
          <div class="col-sm-12">
            <div class="col-sm-12 padd0">
              <div class="col-sm-12 padd7 marg-10">
                <input type="email" ng-model="email" name="email" class="form-control my-input" placeholder="Email" required>
                <span style="color:red" ng-show="forgotForm.email.$dirty && forgotForm.email.$invalid">
                  <span ng-show="forgotForm.email.$error.required">Email is required.</span>
                  <span ng-show="forgotForm.email.$error.email">Invalid email address.</span>
                </span>
              </div>
              <!-- <div class="col-sm-12 padd7 marg-10"><input type="email" name="confirmEmail" ng-model="confirmEmail" class="form-control my-input"  placeholder="Confirm Email" required>
               <span style="color:red" ng-show="forgotForm.confirmEmail.$dirty && forgotForm.confirmEmail.$invalid">
                  <span ng-show="forgotForm.confirmEmail.$error.required">Email is required.</span>
                   <span ng-show="forgotForm.confirmEmail.$error.email">Invalid email address.</span> 
              </span>
            </div> -->

              <div class="col-md-12 padd7 marg-10">
                <button class="mybtn" type="submit" ng-disabled=" forgotForm.email.$dirty && forgotForm.email.$invalid ||  !forgotForm.email.$valid"
                  ng-click="forgotPassword(email)">
                  <span>Sen</span>d</button>
              </div>

            </div>
          </div>


        </div>

      </div>
    </form>
  </div>
</div>