
<div id="loading">
  <img id="loading-image" src="images/example.gif" alt="Loading..." />
</div>
<section class="dashboard-section">
  <div class="container-fluid dashboard-content">
   <!-- <div class="profile-menu">
    <ul class="profile-menu-list">

      <li class="active">
        <a href="#">
          <img class="img-simp" width="35" src="images/profile-1.png" />
          <img class="img-active" width="35" src="images/profile-1-active.png" />
        </a>
        <span>Ads Near By</span>
      </li>
      <li>
        <a href="#">
          <img class="img-simp" width="35" src="images/profile-2.png" />
          <img class="img-active" width="35" src="images/profile-2-active.png" />
        </a>
        <span>My ADs</span>
      </li>
      <li>
        <a href="#">
          <img class="img-simp" width="35" src="images/profile-5.png" />
          <img class="img-active" width="35" src="images/profile-5-active.png" />
        </a>
        <span>Community</span>
      </li>
      <li>
        <a href="#">
          <img class="img-simp" width="35" src="images/profile-3.png" />
          <img class="img-active" width="35" src="images/profile-3-active.png" />
        </a>
        <span>Sell & Shop</span>
      </li>
      <li>
        <a href="#">
          <img class="img-simp" width="35" src="images/profile-4.png" />
          <img class="img-active" width="35" src="images/profile-4-active.png" />
        </a>
        <span>Artists</span>
      </li>
      
      
    </ul>
   </div> -->

   <div class="col-ms-12">
   <div ng-include="'templates/sub-header.html'"></div>
   	<!-- <div class="col-sm-12">
   		<div class="col-sm-2 profile-box">
   			<div class="profile-img"><img class="img-responsive" src="{{userData.data.profileImage}}" /></div>
   		</div>
   		<div class="col-sm-10 padd-left-0">
   			<h3 class="profile-welcome">Welcome<span>,</span></h3>
        <ul class="profile-details">
               <li class="profile-das-name"><a href="#">{{userData.data.firstName}} {{userData.data.lastName}}</li>
               <li class="profile-das-mass"><span>0</span><a href="#">Messages</a></li>
               <li class="profile-das-noti"><a href="#">Notifications</a></li>
   			</ul>
   			<ul class="profile-sub-head">
   				<li class="profile-sub-img"><a class="" href="" ui-sref="profile">Profile</a></li>
   				<li class="profile-sub-pas"><a class="" href="#">Change Password</a></li>
   			</ul>
   		</div>
   	</div> -->

    <div class="col-sm-12">
   		<div class="col-sm-2 profile-box">
   			<h2 class="adds-near"> Add Near By </h2>
   		</div>
   		<div class="col-sm-10 padd-left-0">
   			<div class="col-sm-11 padd-0 filter">
   				<div class="col-sm-5 padd-0">
   					<input class="search-input" type="search" name="" placeholder="Search ads" ng-model="title">
   				</div>
   				<!-- <div class="col-sm-4 padd-7">
          <div id="map" style="width:100%;height:200px;" ng-show="isToggle"></div>
   					<p class="loaction" ng-click="chooseLocation()">{{locationName}}</p>
   				</div> -->
          <div class="col-sm-6 padd-7"  >
                 <input id="pac-input" class="controls" type="text" placeholder="Search Box"  ng-show="isMapOpen">
                 <!-- <div id="map" style="width:100%;height:200px;" ng-show="isMapOpen"></div> -->
                  <p class="input-lable">Gastonia, NC, USA<!-- {{locationName}} --><p class="ranges">Radius &nbsp; <input class="rang-input" type="search" name="" value="100"> &nbsp; <span>Miles</span></p></p>
<!--                  <p class="ranges">Radius &nbsp; <input class="rang-input" type="search" ng-model="radius" name="" placeholder="5"> &nbsp; <span>Miles</span></p> -->
                  <!-- <input type="text" id="serachResult" class="form-control my-input max-width-input" ng-model="myAdd.locationName" ng-click="chooseLocation()" placeholder="Set location"> -->
                </div>
   			</div>
   			<div class="col-sm-12 padd-0 hight-list mCustomScrollbar" data-mcs-theme="minimal-dark">
					<div class="col-sm-11 near-adds-list padd-0 active" 
						ng-repeat="add in addData | filter:title"
						>
						 <div class="col-sm-5 padd-7 overflow-img"><img  ng-show="add.mediaData[0].mediaUrl" class="img-responsive"
							 src="{{add.mediaData[0].mediaUrl}}" />
            <img ng-show="!add.mediaData[0].mediaUrl" class="img-responsive" src="images/logo-2.png" /></div>
   			     <div class="col-sm-7 padd-7">
   			    	<div class="col-sm-12 padd-0">
   			    		<div class="col-sm-6 padd-7">
   			    			<p class="add-titel">{{add.title}}</p>
   			    		</div>
   			    		<div class="col-sm-6 padd-7">
   			    			<p class="adds-date">Exist till AA: <span>{{add.expire | date}}</span></p>
   			    			<div class="add-menu">
   			    				<a href><i class="glyphicon glyphicon-option-vertical"></i></a>
   			    				<ul class="adds-menu-list" >
   			    					<li ><a href="#"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save this AD</a></li>
   			    					<li><a href="#" data-toggle="modal" data-target="#share-adds-modal-id"><i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp; Share this AD</a></li>
   			    				</ul>
   			    			</div>
   			    		</div>
   			    	</div>
   			    	<div class="col-sm-12 padd-7">
   			    		<p class="add-type">Type - Public</p>
   			    		<p class="add-discri">{{add.about}}</p>
   			    	</div>
   			    	<div class="col-sm-12 padd-0">
   			    		<div class="col-sm-7 padd-7">
   			    			<p class="add-posted-by">Posted By <img class="add-post-user" src="{{add.userId.profileImage}}"> <span>{{add.userId.firstName}} {{add.userId.lastName}}</span></p>
   			    		</div>
   			    		<div class="col-sm-5 padd-7" ng-show="linkYurFun(add.share)">
   			    			<p class="add-posted-link"><a href="" ng-click="linkyourself(add._id)"><span>Link Yourself</span></a></p>
   			    		</div>
                <div class="col-sm-5 padd-7" ng-show="aldyLinkFun(add.share)">
                  <p class="add-posted-link"><span>Already linked</span></p>
                </div>
   			    	</div>

   			    </div>
					</div>
					
         <div ng-show="addData.length<=0" style="text-align: center">
            <h2>You don't have post add yet.</h2>
            </div>
   		   <div class="col-sm-11 near-adds-list padd-0">
   			    <div class="col-sm-5 padd-7"><img class="img-responsive" src="images/art-banner2.jpg" /></div>
   			    <div class="col-sm-7 padd-7">
   			    	<div class="col-sm-12 padd-0">
   			    		<div class="col-sm-6 padd-7">
   			    			<p class="add-titel">Adds Titel</p>
   			    		</div>
   			    		<div class="col-sm-6 padd-7">
   			    			<p class="adds-date">Exist till : <span>21-Jan-2018</span></p>
   			    			<div class="add-menu ">
   			    				<a href >
											 <i class="glyphicon glyphicon-option-vertical"></i></a>
   			    				<ul class="adds-menu-list" >
   			    					<li ><a href="#"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save this AD</a></li>
   			    					<li><a href="#" data-toggle="modal" data-target="#share-adds-modal-id"><i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp; Share this AD</a></li>
   			    				</ul>
   			    			</div>
   			    		</div>
   			    	</div>
   			    	<div class="col-sm-12 padd-7">
   			    		<p class="add-type">Type - Public</p>
   			    		<p class="add-discri">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
   			    	</div>
   			    	<div class="col-sm-12 padd-0">
   			    		<div class="col-sm-7 padd-7">
   			    			<p class="add-posted-by">Posted By <img class="add-post-user" src="images/posted-user.png"> <span>Jone Deo</span></p>
   			    		</div>
   			    		<div class="col-sm-5 padd-7">
   			    			<p class="add-posted-link"><a href="#"><span>Link You</span>rself</a></p>
   			    		</div>
   			    	</div>

   			    </div>
   		   </div>
   		   <div class="col-sm-11 near-adds-list padd-0">
   			    <div class="col-sm-5 padd-7"><img class="img-responsive" src="images/art-banner3.jpg" /></div>
   			    <div class="col-sm-7 padd-7">
   			    	<div class="col-sm-12 padd-0">
   			    		<div class="col-sm-6 padd-7">
   			    			<p class="add-titel">Adds Titel</p>
   			    		</div>
   			    		<div class="col-sm-6 padd-7">
   			    			<p class="adds-date">Exist till : <span>21-Jan-2018</span></p>
   			    			<div class="add-menu">
   			    				<a href="#"><i class="glyphicon glyphicon-option-vertical"></i></a>
   			    				<ul class="adds-menu-list">
   			    					<li><a href="#"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save this AD</a></li>
   			    					<li><a href="#" data-toggle="modal" data-target="#share-adds-modal-id"><i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp; Share this AD</a></li>
   			    				</ul>
   			    			</div>
   			    		</div>
   			    	</div>
   			    	<div class="col-sm-12 padd-7">
   			    		<p class="add-type">Type - Public</p>
   			    		<p class="add-discri">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
   			    	</div>
   			    	<div class="col-sm-12 padd-0">
   			    		<div class="col-sm-7 padd-7">
   			    			<p class="add-posted-by">Posted By <img class="add-post-user" src="images/posted-user.png"> <span>Jone Deo</span></p>
   			    		</div>
   			    		<div class="col-sm-5 padd-7">
   			    			<p class="add-posted-link"><a href="#"><span>Link You</span>rself</a></p>
   			    		</div>
   			    	</div>

   			    </div>
   		   </div>
   		   <div class="col-sm-11 near-adds-list padd-0">
   			    <div class="col-sm-5 padd-7"><img class="img-responsive" src="images/art-banner3.jpg" /></div>
   			    <div class="col-sm-7 padd-7">
   			    	<div class="col-sm-12 padd-0">
   			    		<div class="col-sm-6 padd-7">
   			    			<p class="add-titel">Adds Titel</p>
   			    		</div>
   			    		<div class="col-sm-6 padd-7">
   			    			<p class="adds-date">Exist till : <span>21-Jan-2018</span></p>
   			    			<div class="add-menu">
   			    				<a href="#"><i class="glyphicon glyphicon-option-vertical"></i></a>
   			    				<ul class="adds-menu-list">
   			    					<li><a href="#"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save this AD</a></li>
   			    					<li><a href="#" data-toggle="modal" data-target="#share-adds-modal-id"><i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp; Share this AD</a></li>
   			    				</ul>
   			    			</div>
   			    		</div>
   			    	</div>
   			    	<div class="col-sm-12 padd-7">
   			    		<p class="add-type">Type - Public</p>
   			    		<p class="add-discri">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
   			    	</div>
   			    	<div class="col-sm-12 padd-0">
   			    		<div class="col-sm-7 padd-7">
   			    			<p class="add-posted-by">Posted By <img class="add-post-user" src="images/posted-user.png"> <span>Jone Deo</span></p>
   			    		</div>
   			    		<div class="col-sm-5 padd-7">
   			    			<p class="add-posted-link"><a href="#"><span>Link You</span>rself</a></p>
   			    		</div>
   			    	</div>

   			    </div>
   		   </div>


   		</div>

   		</div>
   	</div>


	
</section>

<div ng-include="'templates/footer.html'"></div>

<!-- <footer class="dashboard-footer" style="position: fixed" >
<div class="container">
<div class="col-md-4">
  <p class="das-copyright">2017 © Judah’s Link</p>
</div>
<div class="col-md-4">
  <p class="das-socal-media"><a href="https://www.facebook.com/Judahs-Link-152821492208930/"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://twitter.com/JudahsLink""><i class="fa fa-twitter" aria-hidden="true"></i></a> <a href="https://www.instagram.com/judahslink/"><i class="fa fa-instagram" aria-hidden="true"></i></a> <a href="https://www.linkedin.com/company/judah-s-link/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></p>
</div>
<div class="col-md-4">
  <p class="das-privcy"><a href="#">TERMS OF USE</a> | <a href="#">PRIVACY POLICY</a></p>
</div>
</div>
</footer> -->

<!--Share Adds Modal -->
<div class="modal fade share-adds-modal" id="share-adds-modal-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      	<button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      	<h2 class="registrat">Share Ad with other Artist</h2>
      	<div class="col-sm-12" style="margin-bottom: 30px; margin-top: 10px">
      		<div class="col-sm-8 col-md-offset-2">
      			<input class="search-input" name="" placeholder="Search ads" type="search">
      		</div>
      	</div>
      	<div class="col-sm-12">
      		  <div class="col-sm-3 share-add-list">
      		  	<div class="share-add-img">
      		  		<img class="img-responsive" src="images/profile-img.jpg">
      		  		<div class="block-img"></div>
      		  	</div>
      		  	<p class="share-adds-profile">John Doe</p>
      		  </div>
      		  <div class="col-sm-3 share-add-list">
      		  	<div class="share-add-img"><img class="img-responsive" src="images/profile-img.jpg"><div class="block-img"></div></div>
      		  	<p class="share-adds-profile">John Doe</p>

      		  </div>
      		  <div class="col-sm-3 share-add-list">
      		  	<div class="share-add-img"><img class="img-responsive" src="images/profile-img.jpg"><div class="block-img"></div></div>
      		  	<p class="share-adds-profile">John Doe</p>
      		  </div>
      		  <div class="col-sm-3 share-add-list">
      		  	<div class="share-add-img"><img class="img-responsive" src="images/profile-img.jpg"><div class="block-img"></div></div>
      		  	<p class="share-adds-profile">John Doe</p>
      		  </div>
      		  <div class="col-sm-3 share-add-list">
      		  	<div class="share-add-img"><img class="img-responsive" src="images/profile-img.jpg"><div class="block-img"></div></div>
      		  	<p class="share-adds-profile">John Doe</p>
      		  </div>
      		  <div class="col-sm-3 share-add-list">
      		  	<div class="share-add-img"><img class="img-responsive" src="images/profile-img.jpg"><div class="block-img"></div></div>
      		  	<p class="share-adds-profile">John Doe</p>
      		  </div>
      		  <div class="col-sm-3 share-add-list">
      		  	<div class="share-add-img"><img class="img-responsive" src="images/profile-img.jpg"><div class="block-img"></div></div>
      		  	<p class="share-adds-profile">John Doe</p>
      		  </div>
      		  <div class="col-sm-3 share-add-list">
      		  	<div class="share-add-img"><img class="img-responsive" src="images/profile-img.jpg"><div class="block-img"></div></div>
      		  	<p class="share-adds-profile">John Doe</p>
      		  </div>
      		  
              <div class="col-sm-3 ">
      		    <button class="mybtn" type="submit"><span>Sha</span>re</button>
      		  </div>

      	</div>
      	
        
      </div>
      
    </div>
  </div>
</div>

<!--Linkld artist Adds Modal -->
<!-- <div class="modal fade log-out-modale" id="log-out-modal-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="height: 250px;">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
        <h2 class="registrat">Log Out</h2>
        <div class="col-sm-12 write-post-sec">
          <p class="profile-discri" style="text-align: center;">Are you sure wont to logout from the Judah's Link?</p>
        </div>
        
        <div class="col-sm-12 write-post-sec">
          <button class="mybtn" style="float: left; margin-left: 20%;" ng-click="logout()" data-dismiss="modal"><span>Ye</span>s</button>
          <button class="mybtn" style="float: right; margin-right: 20%;" data-dismiss="modal"><span>N</span>0</button>
        </div>
        
        
      </div>
    </div>
  </div>
</div> -->
<!--  <div ng-include="'templates/logout.html'"></div> -->