 
<div id="loading">
  <img id="loading-image" src="images/example.gif" alt="Loading..." />
</div>
<section class="dashboard-section">
  <div class="container-fluid dashboard-content">
  
   <div class="col-ms-12">
   <div ng-include="'templates/sub-header.html'"></div>
   	
    <div class="col-sm-12">
   		<div class="col-sm-2 profile-box">
   			<h2 class="adds-near">My ADs</h2>
        <ul class="my-ads-tab" role="tablist">
        </ul>
   		</div>
   		<div class="col-sm-10 padd-left-0">
   			    <!-- Tab panes -->
         <div class="col-sm-10 padd-left-0">   
         <div class="tab-content">
          
            <div role="tabpanel" class="tab-pane active" id="posted-ads">
              
              <div class="col-sm-12 padd-0 filter">
                 <div class="col-sm-5 padd-0">
                   <input class="search-input" type="search" name="" ng-model="title" placeholder="Search ads">
                </div>
              </div>
                <div class="col-sm-12 padd-0 scroll-right" data-mcs-theme="minimal-dark" ng-click="toggle()">
              <div class="col-sm-12 near-adds-list padd-0 active" ng-repeat="add in allAdd | filter:title" >
            <div class="col-sm-5 padd-7 overflow-img">
                  <img class="img-responsive" ng-show="!add.mediaData[0].mediaUrl" src="images/logo-2.png" />
            <img class="img-responsive" ng-show="add.mediaData[0].mediaUrl" src="{{add.mediaData[0].mediaUrl}}" /></div>
            <div class="col-sm-7 padd-7" >
              <div class="col-sm-12 padd-0">
                <div class="col-sm-6 padd-7" >
                  <p class="add-titel">{{add.title}}</p>
                </div>
                <div class="col-sm-6 padd-7" >
                  <p class="adds-date">Ad Expiration :<span>{{add.expire | date}}</span></p>
                  <p class="adds-date" ng-show="add.isCancel!=true"><a href="" data-toggle="modal" ng-click="linkArtistList(add)">Linked Artist : <span>{{add.share.length}}</span></a></p>
                    <p class="adds-date" ng-show="add.isCancel==true"><a  data-toggle="modal">Link Artist : <span>{{add.share.length}}</span></a></p> 
                  <div class="add-menu">
                    <a href="" ng-show="add.isCancel!=true" ng-click="checkStatus($index,add,$event)"><i class="glyphicon glyphicon-option-vertical"></i></a>
                    <a href="" ng-show="add.isCancel==true"><i class="glyphicon glyphicon-option-vertical"></i></a>
                    <ul class="adds-menu-list" ng-show="$index==isStatus">
                      <li ng-show="!add.isCancel && !add.isComplete" ng-click="editAdd(add)"><a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" ></i>&nbsp; Edit this AD</a></li>
                      <li ng-show="isEdit" ng-click="deleteAdd('jcancel-add',add._id)"><a href=""><i class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp; Cancel this AD</a></li>
                       <li ng-show="add.isComplete" ng-click="reopenAdd(add)"><a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; Repoen this AD</a></li> 
                      <li ng-show="isDelete" ng-click="deleteAdd('jdelete-add',add._id)"><a href=""><i class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp;  Delete this AD</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 padd-7">
                <p class="add-type" ng-show="add.visibilityType==0">Type - Public</p>
                 <p class="add-type" ng-show="add.visibilityType==1">Type - Private</p>
                  <p class="add-type" ng-show="add.isCancel==true"><b>Status - Cancelled</b></p>
                <p class="add-discri">{{add.about}}</p>

              </div>
              <div class="col-sm-12 padd-0">
                <div class="col-sm-7 padd-7">
                  <p class="add-posted-by">Posted By <img class="add-post-user" ng-show="userData.data.profileImage" src="{{userData.data.profileImage}}"> 
                  <img class="add-post-user" ng-show="!userData.data.profileImage" src="images/upload-img.png"> <span>{{add.userId.firstName}} {{add.userId.lastName}}</span></p>
                </div>
                <div class="col-sm-5 padd-7" ng-show="add.isCancel==true">
                    <p class="add-posted-link" ><a  data-toggle="modal" ><span>Link Mor</span>e Artists</a></p>
                </div>
                <div class="col-sm-5 padd-7" ng-show="add.isCancel!=true">
                    <p class="add-posted-link" ng-click="linkMoreArtist(add)" ng-show="add.isComplete==false"><a href="" data-toggle="modal" ><span>Link Mor</span>e Artists</a></p>
                     <p class="add-posted-link" ng-show="add.isComplete==true"><a  data-toggle="modal" ><span>Link Mor</span>e Artists</a></p>
                </div>
              </div>

            </div>
            
         </div>
         <div ng-show="allAdd.length<=0">
            <h2>You don't have post add yet.</h2>
            </div>
         
      </div>

            </div>           

         </div>
   		

   		</div>



   	</div>
   </div>
   </div>



 </div>
	
</section>

<div ng-include="'templates/footer.html'"></div>



<!--Share Adds Modal -->
<div class="modal fade share-adds-modal" id="share-adds-modal-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      	<button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
      	<h2 class="registrat">Share Ad with other Artist</h2>
      	<div class="col-sm-12" style="margin-bottom: 30px; margin-top: 10px">
      		<div class="col-sm-8 col-md-offset-2">
      			<input class="search-input" name="" placeholder="Search ads" type="search">
      		</div>
      	</div>
      	<div class="col-sm-12">
      		  <div class="col-sm-3 share-add-list">
      		  	<div class="share-add-img">
      		  		<img class="img-responsive" src="images/profile-img.jpg">
      		  		<div class="block-img"></div>
      		  	</div>
      		  	<p class="share-adds-profile">John Doe</p>
      		  </div>
      		  <div class="col-sm-3 share-add-list">
      		  	<div class="share-add-img"><img class="img-responsive" src="images/profile-img.jpg"><div class="block-img"></div></div>
      		  	<p class="share-adds-profile">John Doe</p>

      		  </div>
      		  <div class="col-sm-3 share-add-list">
      		  	<div class="share-add-img"><img class="img-responsive" src="images/profile-img.jpg"><div class="block-img"></div></div>
      		  	<p class="share-adds-profile">John Doe</p>
      		  </div>
      		  <div class="col-sm-3 share-add-list">
      		  	<div class="share-add-img"><img class="img-responsive" src="images/profile-img.jpg"><div class="block-img"></div></div>
      		  	<p class="share-adds-profile">John Doe</p>
      		  </div>
      		  <div class="col-sm-3 share-add-list">
      		  	<div class="share-add-img"><img class="img-responsive" src="images/profile-img.jpg"><div class="block-img"></div></div>
      		  	<p class="share-adds-profile">John Doe</p>
      		  </div>
      		  <div class="col-sm-3 share-add-list">
      		  	<div class="share-add-img"><img class="img-responsive" src="images/profile-img.jpg"><div class="block-img"></div></div>
      		  	<p class="share-adds-profile">John Doe</p>
      		  </div>
      		  <div class="col-sm-3 share-add-list">
      		  	<div class="share-add-img"><img class="img-responsive" src="images/profile-img.jpg"><div class="block-img"></div></div>
      		  	<p class="share-adds-profile">John Doe</p>
      		  </div>
      		  <div class="col-sm-3 share-add-list">
      		  	<div class="share-add-img"><img class="img-responsive" src="images/profile-img.jpg"><div class="block-img"></div></div>
      		  	<p class="share-adds-profile">John Doe</p>
      		  </div>
      		  
              <div class="col-sm-3 ">
      		    <button class="mybtn" type="submit"><span>Sha</span>re</button>
      		  </div>

      	</div>
      	
        
      </div>
      
    </div>
  </div>
</div>

<!--Share Adds Modal -->
<div class="modal fade link-artist-modal" id="link-artist-modal-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
        <h2 class="registrat">Link Artist</h2>
        <div class="col-sm-12" style="margin-bottom: 30px; margin-top: 10px">
          <div class="col-sm-10 col-md-offset-1">
            <input class="search-input" name="" placeholder="Search Artist" type="search" ng-model="firstName">
          </div>
        </div>
        <div class="col-sm-12 link-artist-link-height " data-mcs-theme="minimal-dark">

          <div class="col-sm-12 padd0 link-artist-link-list" ng-repeat="artist in unlinked | filter : firstName">
            <div class="col-sm-3 padd0">
              <div class="share-add-img">
                <img class="img-responsive" src="{{artist.profileImage}}">
              </div>
            </div>
            <div class="col-sm-4 padd0">
            <a href="" ng-click="viewArtists(artist)" data-toggle="modal" data-target="#arist-card-model-id">
              <p class="link-artist-name" >{{artist.firstName}} {{artist.lastName}}</p>
              </a>
            </div>
            <div class="col-sm-5 padd0">
               <button data-dismiss="modal" ng-show="artist.isLinked" class="mybtn link-artist-link-active" ng-click="linkedArtist($index,artist._id)"  type="submit"><span>Linked</span></button>
               <button data-dismiss="modal" ng-show="artist.isLinked" class="mybtn link-artist-link-active" ng-click="linkedArtist($index,artist._id)" type="submit"><span>Link</span></button>
            </div>
          </div>
         

        </div>
        
        
      </div>
      
    </div>
  </div>
</div>


<!--Linkld artist Adds Modal -->
<div class="modal fade link-artist-modal" id="link-artist-modal-id-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="overflow: hidden;">
      <div class="modal-body" style="height: 494px; overflow-x: auto;">
        <button type="button" class="close close-btn"  data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
         <!-- <h2 class="registrat">Link Artist</h2> -->
          <h2 class="registrat-2"><span class="left-text">Link Artist</span> <span class="right-text"><a href="" ng-click="addArtist()">Submit</a></span></h2>
          <div class="col-sm-12" style="margin-bottom: 30px; margin-top: 10px">
          <div class="col-sm-10 col-md-offset-1">
            <input class="search-input" name="" placeholder="Search Artist" type="search" ng-model="firstName">
          </div>
        </div>
        <div class="col-sm-12 link-artist-link-height" data-mcs-theme="minimal-dark" style="height: 65vh;">

          <div class="col-sm-12 padd0 link-artist-link-list" ng-repeat="artist in unlinked |filter:firstName">
            <div class="col-sm-3 padd0">
              <div class="share-add-img">
                <img class="img-responsive" ng-show="artist.profileImage" src="{{artist.profileImage}}">
                <img class="img-responsive" ng-show="!artist.profileImage" src="images/logo-2.png">
              </div>
            </div>
            <div class="col-sm-4 padd0">
              <a href="" ng-click="viewArtists(artist)" data-toggle="modal" data-target="#arist-card-model-id">
              <p class="link-artist-name" >{{artist.firstName}} {{artist.lastName}}</p>
              </a>
            </div>
            <div class="col-sm-5 padd0">
               <button  ng-show ="(isLinkedList[$index]==artist._id)" class="mybtn link-artist-link-active" ng-click="linkedArtist('Linked',$index,artist._id)" type="submit"><span>Linked</span></button>
                <button  ng-show ="!(isLinkedList[$index]==artist._id)" class="mybtn link-artist-link-active" ng-click="linkedArtist('Link',$index,artist._id)" type="submit"><span>Link</span></button>
            </div>
          </div>
        
            

        </div>
        
        
      </div>
      
    </div>
  </div>
</div>



<div class="chat-box" ng-show="isToggle">
  <button class="chat-close" ng-click="isToggle=false"><i class="fa fa-times" aria-hidden="true"></i></button>
  <div class="chat-header"><h2 class="titel">{{chatUserName}}</h2>
  </div>
  <div class="chat-body">
  <div   style="width: 100%" class="heightClass" scroll="chats">
    <p class="chat-mass-left" ng-repeat="chat in chats | orderBy:'-'" scroll-bottom="chat" ng-if='chat.senderId!=userData.data._id'><span ng-if='chat.senderId!=userData.data._id' class="border-color">{{chat.message}}</span></p>
    <p class="chat-mass-right" ng-repeat="chat in chats | orderBy:'-'" ng-if='chat.senderId==userData.data._id'><span ng-if='chat.senderId==userData.data._id' class="border-color">{{chat.message}}</span></p>
    </div>
  </div>
  <div class="chat-foot">
    <textarea type="textarea" id="myInput" class="chat-inn" name="" placeholder="Type here" ng-model="chat.message"></textarea>
    <button id="myBtn"  class="chat-send" ng-click="sendMessage(userData.data._id)"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
  </div>

</div>


<!--Linkld artist Adds Modal -->
<div class="modal fade link-artist-modal" id="link-artist-modal-id-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="overflow: hidden;">
      <div class="modal-body" style="height: 494px; overflow-x: auto;">
      <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
        <h2 class="registrat-2"><span class="left-text">Linked Artist</span> <span class="right-text" ng-click="completedAndClosedAd()" ng-show="!isCompleted" ><a href="#"> Complete and Close Ad</a></span></h2>
         <div class="col-sm-12" style="margin-bottom: 30px; margin-top: 10px">
          <div class="col-sm-10 col-md-offset-1">
            <input class="search-input" name="" placeholder="Search Artist" type="search" ng-model="firstName">
          </div>
        </div>

        <!-- <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
        <h2 class="registrat-2"><span class="left-text">Link Artist</span> <span class="right-text"> Completed and Closed Ad</span></h2> -->
        <div class="col-sm-12 link-artist-link-height" data-mcs-theme="minimal-dark" style="height: 65vh;">

          <div class="col-sm-12 padd0 link-artist-link-list" ng-repeat="artist in linkedArtistList | filter:firstName">
            <div class="col-sm-3 padd0" ng-show="isCompleted && artist.status==1">
              <div class="share-add-img">
                <img class="img-responsive" ng-show="artist.userId.profileImage" src="{{artist.userId.profileImage}}">
                <img class="img-responsive" ng-show="!artist.userId.profileImage" src="images/logo-2.png">
                <!-- <img class="img-responsive" ng-show="!artist.userId.profileImage" src="images/upload-img.png"> -->
              </div>
            </div>
            <div class="col-sm-4 padd0" ng-show="isCompleted && artist.status==1">
                       <a href="" ng-click="viewArtists(artist)" data-toggle="modal" data-target="#arist-card-model-id">
                         
            </div>
            <div class="col-sm-5 padd0" ng-show="isCompleted && artist.status==1">
               <button  ng-show ="(isLinkedList[$index]==artist.userId._id) || (artist.status==1)" class="mybtn link-artist-link-active"  type="submit"><span>Filled</span></button>
                <p class="link-artist-name">{{artist.userId.firstName}} {{artist.lastName}} </p></a>
                 <p><a href="" ng-click="communication(artist,artist.userId._id)"><img width="30" height="20" src="images/mass-bg.png"></a></p> 
               <!--  <button  ng-show ="!(isLinkedList[$index]==artist.userId._id) && (artist.status==0)" class="mybtn link-artist-link-active" ng-click="fillArtist('Link',$index,artist)" type="submit"><span>Fill</span></button> -->
            </div>
            <div class="col-sm-3 padd0" ng-show="isCompleted==false">
              <div class="share-add-img">
                <img class="img-responsive" ng-show="artist.userId.profileImage" src="{{artist.userId.profileImage}}">
                <img class="img-responsive" ng-show="!artist.userId.profileImage" src="images/logo-2.png">
                <!-- <img class="img-responsive" ng-show="!artist.userId.profileImage" src="images/upload-img.png"> -->
              </div>
            </div>
            <div class="col-sm-4 padd0" ng-show="isCompleted==false">
            <a href="" ng-click="viewArtists(artist)" data-toggle="modal" data-target="#arist-card-model-id">
              <p class="link-artist-name">{{artist.userId.firstName}} {{artist.lastName}} </p></a>

            </div>
            <div class="col-sm-5 padd0" ng-show="isCompleted==false">
               <button  ng-show ="(isLinkedList[$index]==artist.userId._id) || (artist.status==1)" class="mybtn link-artist-link-active" ng-click="fillArtist('Linked',$index,artist)" type="submit"><span>Filled</span></button>
                                
                 <a href="" ng-click="communication(artist,artist.userId._id)"  ng-show ="(isLinkedList[$index]==artist.userId._id) || (artist.status==1)" ><img width="30" height="20" src="images/mass-bg.png" style="margin-left:40px;"></a>
                <button  ng-show ="!(isLinkedList[$index]==artist.userId._id) && (artist.status==0)" class="mybtn link-artist-link-active" ng-click="fillArtist('Link',$index,artist)" type="submit"><span>Fill</span></button>
            </div>
          </div>
        
            

        </div>
        
        
      </div>
      
    </div>
  </div>
</div>


<div class="modal fade sign-modal" id="add-item-for-sell-sss" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="min-height: 498px;">
      <div class="modal-body">
       <button type="button" class="close close-btn"  ng-click="closeEditModal()"><span aria-hidden="true">X</span></button>
       <h2 class="registrat">Edit Ad</h2>
        <iv class="col-md-12 col-sm-12 padd0" style="padding-top: 13px;">
                <div class="col-md-6 col-sm-6 padd-5">
                  <p class="input-lable">Type of Ad Placer?</p>
                  <div class="col-xs-12 radio-btn padd0">
                     <label class="radio-inline">
                       <input type="radio" name="inlineRadioOptions" ng-model="myAdd.visibilityType" id="inlineRadio1" value="0" checked> Public Ad
                     </label>
                     <label class="radio-inline">
                       <input type="radio" name="inlineRadioOptions" id="inlineRadio2" ng-model="myAdd.visibilityType" value="1"> Private Ad
                     </label>
                  </div>

                </div>
                 <div class="col-md-6 col-sm-6 padd-5">
                  <p class="input-lable">Ad Expiration Date </p>
                  <!-- <datepicker>
                   <input ng-model="date" type="text"/>
                  </datepicker> -->
                   <input type="date" class="form-control my-input max-width-input" id="calender" ng-model="myAdd.expire" placeholder="Select Date">
                </div>


                 <div class="col-md-6 col-sm-6 padd-5">

                  <p class="input-lable">Ad Title</p>
                  <input type="text" class="form-control my-input max-width-input" ng-model="myAdd.title" placeholder="Ad title here">
                </div>
                 <div class="col-md-6 col-sm-6 padd-5"  >
                  <p class="input-lable">Location</p>
                     <!--  <input id="pac-input" class="form-control my-input max-width-input" type="text" placeholder="Search Box"  ng-show="isMapOpen">
                  <div id="map" style="width:100%;height:450px;" ng-show="isMapOpen"></div> -->
                  <input type="text" id="serachResult" class="form-control my-input max-width-input" ng-model="myAdd.locationName" ng-click="chooseLocation()" placeholder="Set location">
                </div>
                 <div class="col-md-8 col-sm-12 padd-5">
                    <p class="input-lable">Ad Description</p>
                    <textarea class="form-control my-input" ng-model="myAdd.about" rows="4"></textarea>
                 </div>
                 <div class="col-md-4 col-sm-12">
                    <img class="upload-new-img"  src="{{myAdd.mediaData[0].mediaUrl}}" ng-show="myAdd.mediaData[0].mediaUrl">
                    <img class="upload-new-img"  src="images/upload-new-img.png" ng-show="!myAdd.mediaData[0].mediaUrl">
                    <p class="input-lable">Upload Image</p>
                  <input type="file" id="ad-img" onchange="angular.element(this).scope().changeFile(this,'file3','ad-img')" style="display:none"/>
                 </div>
                <div class="col-md-12 padd-5">
                  <div class="col-md-3 col-sm-6 padd-5">
                   <button class="mybtn" type="submit" data-toggle="modal" ng-click="linkEditArtist(myAdd)"><span>Link A</span>rtist</button>
                  </div>
                  <div class="col-md-5 col-sm-6 padd-5" style="text-align: right;">
                    <ul class="nav navbar-nav navbar-right">
                      <li><button class="mybtn radio-inline" type="submit"  ng-click="createAdd('cancel1')"><span>Can</span>cel</button>
                      </li>
                      <li><button class="mybtn radio-inline" type="submit" ng-click="selectedEdit()"><span>Po</span>st</button></li>
                    </ul>
                  </div>
                </div>

             </div>

      </div>
      </div>
      </div>
      </div>
      <div class="modal fade sign-modal" id="map-open-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="min-height: 498px;">
      <div class="modal-body">
            <input id="pac-input" class="form-control my-input max-width-input" type="text" placeholder="Search Box"  ng-show="isMapOpen">
          <div id="map" style="width:100%;height:450px;" ng-show="isMapOpen"></div>
      </div>
      </div>
     </div>
     </div>


     <div class="modal fade arist-card-model" id="arist-card-model-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index:1280;background-color: black">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="profile-img card-profile-dimg"><img class="img-responsive" ng-show="viewArtistsData.profileImage" src="{{viewArtistsData.profileImage}}" />
        <img class="img-responsive" ng-show="!viewArtistsData.profileImage" src="images/logo-2.png" /></div>
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
        <h2 class="registrat">{{viewArtistsData.firstName}} {{viewArtistsData.lastName}}</h2>
        <div class="col-sm-12 border-top">
         <div class="col-sm-4 padd-0">
           <p class="artist-card-name">Location{{viewArtistsData.firstName}}</p>
           <!-- <p class="artist-card-addr">Atlanta CIty, New Jerset- USA</p> -->
           <p class="artist-card-addr">{{viewArtistsData.city}} {{viewArtistsData.state}}</p>
         </div>
         <div class="col-sm-4 padd-0">
           <p class="artist-card-name">Denomination</p>
           <p class="artist-card-addr">{{viewArtistsData.denomination}}</p>
         </div>
         <div class="col-sm-4 padd-0">
           <p class="artist-card-name">Website</p>
           <p class="artist-card-addr">{{viewArtistsData.website}}</p>
         </div>
        </div>
        <div class="col-sm-12 border-bot">
         <div class="col-sm-4 padd-0">
           <p class="artist-card-name">Postion Interest</p>
           <p class="artist-card-addr">{{viewArtistsData.interest}}</p>
         </div>
         <div class="col-sm-4 padd-0">
           <p class="artist-card-name">Degree/Certifications</p>
           <p class="artist-card-addr">{{viewArtistsData.degree}}</p>
         </div>
         <div class="col-sm-4 padd-0">
           <p class="artist-card-name">Skills</p>
           <p class="artist-card-addr">{{viewArtistsData.skill}}</p>
         </div>

        </div>
        <div class="col-sm-12 padd-0">
         <!-- <div class="col-sm-3 padd-0">
           <p class="artist-card-name">Featured Video</p><br>
           <img width="130" class="img-responsive" src="images/video-4.jpg" />
         </div> -->
         <div class="col-sm-9 padd-0">
           <p class="artist-card-name">Other Media</p><br>
           <ul class="card-top-rest">
             <li ng-repeat="imageurl in viewArtistsData.media"><img class="img-responsive" src="{{imageurl.url}}" /></li>
            <!--  <li><img class="img-responsive" src="images/video-2.jpg" /></li>
             <li><img class="img-responsive" src="images/video-3.jpg" /></li> -->
           </ul>
         </div>

        </div>

      </div>
      
    </div>
  </div>
</div>
<div ng-include="'templates/logout.html'"></div>
