<div role="tabpanel" class="tab-pane" id="posted-ads">
              
              <div class="col-sm-12 padd-0 filter">
                 <div class="col-sm-5 padd-0">
                   <input class="search-input" type="search" name="" placeholder="Search ads">
                </div>
              </div>
                <div class="col-sm-12 padd-0 scroll-right hight-list mCustomScrollbar" data-mcs-theme="minimal-dark">
              <div class="col-sm-12 near-adds-list padd-0 active">
            <div class="col-sm-5 padd-7"><img class="img-responsive" src="images/art-banner1.jpg" /></div>
            <div class="col-sm-7 padd-7">
              <div class="col-sm-12 padd-0">
                <div class="col-sm-6 padd-7">
                  <p class="add-titel">Adds Titel</p>
                </div>
                <div class="col-sm-6 padd-7">
                  <p class="adds-date">Status : <span>Filled</span></p>
                  <div class="add-menu">
                    <a href=""><i class="glyphicon glyphicon-option-vertical"></i></a>
                    <ul class="adds-menu-list">
                      <li><a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp; Edit this AD</a></li>
                      <li><a href=""><i class="fa fa-times-circle-o" aria-hidden="true"></i>&nbsp; Cancle this AD</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 padd-7">
                <p class="add-type">Type - Open</p>
                <p class="add-discri">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since Lorem Ipsum</p>
              </div>
              <div class="col-sm-12 padd-0">
                <div class="col-sm-7 padd-7">
                  <p class="add-posted-by">Posted By <img class="add-post-user" src="images/posted-user.png"> <span>Jone Deo</span></p>
                </div>
                <div class="col-sm-5 padd-7">
                    <p class="add-posted-link"><a href="#" data-toggle="modal" data-target="#link-artist-modal-id-2" ><span>Link Mor</span>e Artists</a></p>
                </div>
              </div>

            </div>
         </div>
         <div class="col-sm-12 near-adds-list padd-0">
            <div class="col-sm-5 padd-7"><img class="img-responsive" src="images/art-banner2.jpg" /></div>
            <div class="col-sm-7 padd-7">
              <div class="col-sm-12 padd-0">
                <div class="col-sm-6 padd-7">
                  <p class="add-titel">Adds Titel</p>
                </div>
                <div class="col-sm-6 padd-7">
                  <p class="adds-date">Status : <span>In Progress</span></p>
                  <div class="add-menu">
                    <a href="#"><i class="glyphicon glyphicon-option-vertical"></i></a>
                    <ul class="adds-menu-list">
                      <li><a href="#"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp; Reopen AD</a></li>
                       <li><a href="#"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Delete this AD</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 padd-7">
                <p class="add-type">Type - Close</p>
                <p class="add-discri">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since Lorem Ipsum </p>
              </div>
              <div class="col-sm-12 padd-0">
                <div class="col-sm-7 padd-7">
                  <p class="add-posted-by">Posted By <img class="add-post-user" src="images/posted-user.png"> <span>Jone Deo</span></p>
                </div>
                <div class="col-sm-5 padd-7">
                    <p class="add-posted-link"><a href="#" data-toggle="modal" data-target="#link-artist-modal-id-2" ><span>Link Mor</span>e Artists</a></p>
                </div>
              </div>

            </div>
         </div>
         <div class="col-sm-12 near-adds-list padd-0">
            <div class="col-sm-5 padd-7"><img class="img-responsive" src="images/art-banner3.jpg" /></div>
            <div class="col-sm-7 padd-7">
              <div class="col-sm-12 padd-0">
                <div class="col-sm-6 padd-7">
                  <p class="add-titel">Adds Titel</p>
                </div>
                <div class="col-sm-6 padd-7">
                  <p class="adds-date">Status : <span>Expired</span></p>
                  <div class="add-menu">
                    <a href="#"><i class="glyphicon glyphicon-option-vertical"></i></a>
                    <ul class="adds-menu-list">
                      <li><a href="#"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Remove this AD</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 padd-7">
                <p class="add-type">Type - Close</p>
                <p class="add-discri">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since Lorem Ipsum</p>
              </div>
              <div class="col-sm-12 padd-0">
                <div class="col-sm-7 padd-7">
                  <p class="add-posted-by">Posted By <img class="add-post-user" src="images/posted-user.png"> <span>Jone Deo</span></p>
                </div>
                <div class="col-sm-5 padd-7">
                    <p class="add-posted-link"><a href="#" data-toggle="modal" data-target="#link-artist-modal-id-2" ><span>Link Mor</span>e Artists</a></p>
                </div>
              </div>

            </div>
         </div>
         <div class="col-sm-12 near-adds-list padd-0">
            <div class="col-sm-5 padd-7"><img class="img-responsive" src="images/art-banner3.jpg" /></div>
            <div class="col-sm-7 padd-7">
              <div class="col-sm-12 padd-0">
                <div class="col-sm-6 padd-7">
                  <p class="add-titel">Adds Titel</p>
                </div>
                <div class="col-sm-6 padd-7">
                  <p class="adds-date">Status : <span>Filled</span></p>
                  <div class="add-menu">
                    <a href="#"><i class="glyphicon glyphicon-option-vertical"></i></a>
                    <ul class="adds-menu-list">
                      <li><a href="#"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save this AD</a></li>
                      <li><a href="#" data-toggle="modal" data-target="#share-adds-modal-id"><i class="fa fa-share-alt" aria-hidden="true"></i>&nbsp; Share this AD</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 padd-7">
                <p class="add-type">Type - Open</p>
                <p class="add-discri">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since Lorem Ipsum</p>
              </div>
              <div class="col-sm-12 padd-0">
                <div class="col-sm-7 padd-7">
                  <p class="add-posted-by">Posted By <img class="add-post-user" src="images/posted-user.png"> <span>Jone Deo</span></p>
                </div>
                <div class="col-sm-5 padd-7">
                  <p class="add-posted-link"><a href="#"><span>Link Mor</span>e Artists</a></p>
                </div>
              </div>

            </div>
         </div>


      </div>
       </div>