<div class="col-sm-12" ng-controller="headerCtrl">
   		<div class="col-sm-2 profile-box">
   			 <div class="profile-img"  ng-show="userData.data.profileImage"><img style="height:120px" class="img-responsive" src="{{userData.data.profileImage}}" /></div>
            <div class="profile-img" ng-show="!userData.data.profileImage"><img class="img-responsive" src="images/upload-img.png" style="height:120px" /></div>
   		</div>
   		<div class="col-sm-10 padd-left-0">
   			<h3 class="profile-welcome">Welcome<span>,</span></h3>
   			<ul class="profile-details">
               <li class="profile-das-name"><a href="">{{userData.data.firstName}} {{userData.data.lastName}}</li>
               <li class="profile-das-mass"><span>0</span><a ui-sref="communication">Messages</a></li>
               <li class="profile-das-noti"><a href="">Notifications</a></li>
   			</ul>
   			<ul class="profile-sub-head">
   				<li class="profile-sub-img"><a class=""  ui-sref="profile">Profile</a></li>
   			</ul>
   		</div>
   	</div>